<mat-chip-listbox
  [multiple]="false"
  [value]="renderedSelectedValue()"
  [attr.aria-label]="ariaLabel()"
  (change)="onListboxChange($event.value)"
>
  @for (option of options(); track option.value) {
    <mat-chip-option
      [value]="option.value"
      [disabled]="option.disabled"
      [selectable]="!isRequiredSelectedValue(option.value)"
      [selected]="renderedSelectedValue() === option.value"
    >
      @if (option.icon) {
        <mat-icon matChipAvatar>{{ option.icon }}</mat-icon>
      }
      <span>{{ option.label }}</span>
    </mat-chip-option>
  }
</mat-chip-listbox>
