<ng-template #sidebarContent>
  @if(selectedSpot()) { @if(selectedChallenge()) {
  <a
    mat-button
    [routerLink]="[
      '/map',
      selectedSpotIdOrSlug(),
      showAllChallenges() ? 'c' : ''
    ]"
    queryParamsHandling="merge"
    class="text-truncate"
  >
    <mat-icon>arrow_back_ios</mat-icon>
    <span class="d-flex flex-row gap-2 align-items-center">
      <span>
        @if(showAllChallenges()) {<span i18n>All Challenges of </span
        >{{ selectedSpot()!.name() }}}
      </span>
      <span i18n class="mat-label-small px-1 border rounded me-1">Spot</span>
    </span>
  </a>
  <app-challenge-detail
    @slideInOut
    class="d-block"
    [(challenge)]="selectedChallenge"
    [(isEditing)]="isEditing"
  ></app-challenge-detail>
  } @else if(showAllChallenges()) {
  <div class="px-2">
    <a
      mat-button
      [routerLink]="['/map', selectedSpotIdOrSlug()]"
      queryParamsHandling="merge"
      class="text-truncate"
    >
      <mat-icon>arrow_back_ios</mat-icon>
      <span class="d-flex flex-row align-items-center gap-2">
        <span>{{ selectedSpot()!.name() }}</span>
        <span i18n class="mat-label-small px-1 border rounded me-1">Spot</span>
      </span>
    </a>
  </div>

  <div class="px-3 d-flex flex-column gap-2" @slideInOut>
    <h4 class="mat-title-medium mt-2" i18n>
      All Challenges of {{ selectedSpot()!.name() }}
    </h4>
    <app-challenge-list
      class="w-100"
      [challenges]="allSpotChallenges()"
      [showFilterOptions]="true"
    ></app-challenge-list>
  </div>
  } @else if(showSpotEditHistory()) {
  <div class="px-2">
    <a
      mat-button
      [routerLink]="['/map', selectedSpotIdOrSlug()]"
      queryParamsHandling="merge"
      class="text-truncate"
    >
      <mat-icon>arrow_back_ios</mat-icon>
      <span class="d-flex flex-row gap-2 align-items-center">
        <span>
          {{ selectedSpot()!.name() }}
        </span>
        <span i18n class="mat-label-small px-1 border rounded me-1">Spot</span>
      </span>
    </a>
  </div>

  <div class="p-3" @slideInOut>
    @for(spotEdit of spotEdits(); track $index) {
    <app-spot-edit-details
      class="d-block"
      [spotEdit]="spotEdit"
    ></app-spot-edit-details>
    }

    <p class="mat-body-medium m-0 mt-2">
      <strong>Source:</strong>
      {{ spotSourceDisplayText() }}
    </p>
  </div>

  }@else {
  <app-spot-details
    @fadeInOut
    #spotDetail
    class="d-block"
    [spot]="selectedSpot()"
    [(challenge)]="selectedChallenge"
    [border]="false"
    [dismissable]="true"
    [infoOnly]="false"
    [editable]="true"
    [isEditing]="isEditing()"
    [openProgress]="responsiveService.isMobile() ? bottomSheetProgress() : 1"
    (isEditingChange)="$event ? spotMap!.startEdit() : spotMap!.discardEdit()"
    (dismiss)="closeSpot()"
    (addBoundsClick)="spotMap!.addBounds()"
    (focusClick)="spotMap!.focusSpot(selectedSpot()!)"
    (saveClick)="spotMap!.saveSpot($event)"
  ></app-spot-details>
  } } @else {
  <app-spot-list
    class="px-3 d-block"
    @fadeInOut
    [spots]="visibleSpots"
    [highlightedSpots]="highlightedSpots"
    [limit]="spotListLimit()"
    [enableAnimation]="!responsiveService.isMobile() || bottomSheetOpen()"
  ></app-spot-list>
  }
</ng-template>

<ng-template #mapContent>
  <!-- The spot map, defer loading to make sure it is not loaded on the server. -->
  @if(mapsService.isApiLoaded()) { @defer {
  <app-spot-map
    @fadeInOut
    #spotMap
    id="spotMap"
    [isClickable]="true"
    [selectedSpot]="selectedSpot()"
    [selectedChallenge]="selectedChallenge()"
    [selectedSpotChallenges]="selectedSpot()?.topChallenges() ?? []"
    (selectedSpotChange)="selectSpot($event)"
    [(isEditing)]="isEditing"
    [(mapStyle)]="mapStyle"
    [showAmenities]="showAmenities()"
    [minZoom]="2"
    (visibleSpotsChange)="setVisibleSpots($event)"
    (hightlightedSpotsChange)="highlightedSpots = $event"
    (filterBoundsChange)="onFilterBoundsChange($event)"
    [bottomSheetOffset]="true"
    [isDebug]="appSettings.debugMode()"
  ></app-spot-map>
  } @placeholder {
  <div
    class="d-flex flex-column gap-3 justify-content-center align-items-center h-100"
  >
    <mat-icon style="height: 50px; width: 50px; font-size: 50px">map</mat-icon>
    <p class="mat-title-medium" i18n>Initializing map...</p>
  </div>
  } } @else {
  <div
    class="d-flex flex-column gap-3 justify-content-center align-items-center h-100"
  >
    <mat-icon style="height: 50px; width: 50px; font-size: 50px"
      >location_on</mat-icon
    >
    <p class="mat-title-medium" i18n>Loading Google Maps® API...</p>
    @if(mapsService.isLoading$ | async) {
    <mat-progress-bar
      mode="determinate"
      [value]="mapsService.loadingProgress$ | async"
      class="w-50"
    >
    </mat-progress-bar>
    } @else {
    <mat-progress-bar mode="indeterminate" class="w-50"></mat-progress-bar>
    }
  </div>
  }

  <!-- FAB buttons -->
  @if(spotMap) {
  <div class="mini-fabs">
    <button
      @fadeInOut
      mat-mini-fab
      #mapStyleFab
      id="mapStyleFab"
      (click)="spotMap ? spotMap.toggleMapStyle() : null"
      color="primary"
      i18n-matTootlip
      [matTooltip]="
        mapStyle === 'roadmap' ? 'Show satellite map' : 'Show roadmap'
      "
      matTooltipPosition="left"
      matTooltipShowDelay="500"
    >
      <mat-icon>
        {{ mapStyle === "roadmap" ? "terrain" : "map" }}
      </mat-icon>
    </button>

    <button
      @fadeInOut
      mat-mini-fab
      #geolocationFab
      id="geolocationFab"
      color="primary"
      (click)="spotMap ? spotMap.focusOnGeolocation() : null"
      i18n-matTootlip
      matTooltip="Go to your location"
      matTooltipPosition="left"
      matTooltipShowDelay="500"
    >
      @if(spotMap.geolocationLoading()) {
      <mat-progress-spinner
        mode="indeterminate"
        diameter="20"
        color="accent"
      ></mat-progress-spinner>
      } @else {
      <mat-icon>
        {{ geolocationIcon() }}
      </mat-icon>
      }
    </button>

    @if(spotMap.headingIsNotNorth()) {
    <button
      @fadeInOut
      mat-mini-fab
      #geolocationFab
      id="geolocationFab"
      color="primary"
      (click)="spotMap ? spotMap.resetMapOrientation() : null"
      i18n-matTootlip
      matTooltip="Reset map orientation to north"
      matTooltipPosition="left"
      matTooltipShowDelay="500"
    >
      <mat-icon> north </mat-icon>
    </button>
    }

    <!-- Show amenity markers mini FAB-->
    <!-- <button
      mat-mini-fab
      #amenitiesFab
      id="amenitiesFab"
      color="accent"
      (click)="showAmenities.set(!showAmenities())"
      [disabled]="spotMap ? spotMap.mapZoom < 16 : true"
      i18n-matTootlip
      [matTooltip]="
        showAmenities() ? 'Hide amenity markers' : 'Show amenity markers'
      "
      matTooltipPosition="left"
      matTooltipShowDelay="500"
    >
      <mat-icon>
        {{ showAmenities() ? "location_off" : "location_on" }}
      </mat-icon>
    </button> -->
  </div>

  @if( authService.isSignedIn && !isEditing() && spotMap.mapZoom >= 14 &&
  !(responsiveService.isMobile() && (bottomSheetOpen() || bottomSheetProgress()
  > 0)) ) {
  <!-- Add / import spots speed dial-->
  <!-- <app-speed-dial-fab
    #createSpotSpeedDial
    id="createSpotSpeedDial"
    [buttonConfig]="speedDialButtonConfig"
    [openOnHover]="true"
    [rotationDegrees]="0"
    (mainFabClick)="spotMap?.createSpot()"
    (miniFabClick)="speedDialMiniFabClick($event)"
  ></app-speed-dial-fab> -->
  <button
    @fadeInOut
    mat-fab
    extended
    #createSpotSpeedDial
    id="createSpotSpeedDial"
    color="primary"
    (click)="spotMap ? spotMap.createSpot() : null"
  >
    <mat-icon> add_location </mat-icon>
    <span i18n class="mdc-button__label">Add Spot</span>
  </button>
  } }
</ng-template>

<ng-template #filterHelper class="position-relative">
  <div
    class="glass d-flex flex-row align-items-center ps-4 gap-3 p-3"
    style="border-radius: 34px"
  >
    <span class="mat-title-small" i18n="Filter helper text@@filter_helper_text"
      >There are no spots matching the filter in this area.</span
    >
    <button class="flex-shrink-0" matButton="outlined">
      <mat-icon>filter_alt_off</mat-icon>Clear
    </button>
  </div>
</ng-template>

<ng-template #chips class="position-relative">
  <!-- Filter chips bar with horizontally scrollable presets and Filters button -->
  <app-filter-chips-bar
    @fadeInOut
    [selectedFilter]="selectedFilter()"
    [customFilterActive]="!!customFilterParams()"
    (filterChange)="filterChipChanged($event)"
    (filtersClick)="openCustomFilterDialog()"
  ></app-filter-chips-bar>
</ng-template>

@if(responsiveService.isNotMobile()){
<div
  class="position-absolute p-3 d-flex gap-2 flex-column search-field-container"
  style="z-index: 100"
>
  <div class="d-flex flex-row gap-3">
    @if(alainMode) {
    <div class="spacer" style="width: 56px"></div>
    }
    <app-search-field
      class="position-relative w-100 mat-elevation-z3 overflow-hidden"
      style="border-radius: 16px"
      (spotSelected)="openSpotOrGooglePlace($event)"
    ></app-search-field>
  </div>
  @if(!sidebarContentIsScrolling() || !sidenavOpen()) {
  <ng-container *ngTemplateOutlet="chips"></ng-container>
  }
</div>

<mat-drawer-container class="h-100 bg-transparent">
  <mat-drawer
    [opened]="sidenavOpen()"
    position="start"
    mode="side"
    class="bg-transparent info-panel"
  >
    <div [style.height.px]="chipsSpacerHeight()"></div>
    <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
  </mat-drawer>

  <div class="position-relative overflow-hidden h-100 w-100">
    <ng-container *ngTemplateOutlet="mapContent"></ng-container>
    @if(noSpotsForFilter()) {
    <div
      class="position-absolute"
      style="left: 50%; top: 20px; transform: translate(-50%, 0)"
    >
      <ng-container
        *ngTemplateOutlet="filterHelper"
        class="position-relative"
      ></ng-container>
    </div>
    }

    <!-- sidenav toggle button -->
    <div style="top: calc(50% - 36px / 2); left: 5px; position: absolute">
      <button
        mat-icon-button
        (click)="toggleSidenav()"
        class="d-flex border justify-content-center align-items-center p-0"
        style="
          background-color: var(--mat-bottom-sheet-container-background-color);
          border-color: var(
            --mat-icon-button-icon-color,
            var(--mat-sys-on-surface-variant)
          ) !important;
          border-width: 0.8px !important;
        "
      >
        @if(sidenavOpen()) {
        <mat-icon>chevron_left</mat-icon>
        } @else {
        <mat-icon>chevron_right</mat-icon>}
      </button>
    </div>
  </div>
</mat-drawer-container>
} @else {
<div class="position-relative flex-grow-1 h-100">
  <ng-container
    *ngTemplateOutlet="mapContent"
    class="position-absolute flex-grow-1"
  ></ng-container>

  <div
    class="search-bar-overlay position-absolute top-0 start-0 end-0 p-2 d-flex flex-column gap-1"
  >
    <div class="d-flex flex-row gap-3">
      @if(alainMode && responsiveService.isMobile()) {
      <div class="spacer" style="width: 56px"></div>
      }
      <app-search-field
        class="w-100 mat-elevation-z3 overflow-hidden"
        style="border-radius: 16px"
        (spotSelected)="openSpotOrGooglePlace($event)"
      ></app-search-field>
    </div>
    <ng-container *ngTemplateOutlet="chips"></ng-container>
    @if(noSpotsForFilter()) {
    <div style="padding-left: 64px; padding-right: 64px; padding-top: 16px">
      <ng-container *ngTemplateOutlet="filterHelper"></ng-container>
    </div>
    }
  </div>

  <app-bottom-sheet
    class="d-flex"
    style="
      top: calc(
        72px -
          min(8px, var(--safe-area-inset-top, env(safe-area-inset-top, 0px)))
      );
      bottom: 0;
      position: absolute;
      width: 100%;
    "
    @fadeInOut
    (isAtTopChange)="bottomSheetOpen.set($event)"
    (openProgressChange)="bottomSheetProgress.set($event)"
  >
    <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
  </app-bottom-sheet>
</div>

}
