:host {
  height: 100%;
  position: relative;
  display: block;
}

app-spot-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map-container {
  overflow: hidden;
  height: 100%;
}

.tab-icon {
  margin-right: 8px;
}
::ng-deep .mat-tab-label {
  min-width: 0 !important;
}

.editCardContainer {
  position: absolute;
  padding: 10px;
  top: 85px;
  right: 0px;
  left: 0px;
  bottom: 0px;

  pointer-events: none;

  @media (min-width: 960px) {
    top: 0px;
    right: 100px;
    left: 100px;
  }
}

#editCard {
  pointer-events: all;

  position: relative;
  margin: 0 auto;
  width: 50vw;
  max-width: 100%;
}

#searchFab {
  position: absolute;
  z-index: 2;

  left: 20px;
  top: 20px;
}

::ng-deep .mat-drawer-inner-container {
  overflow-x: hidden !important;
}

#saveBoundsEditFab,
#createSpotSpeedDial {
  position: absolute;
  z-index: 1;

  @media (max-width: 959.98px) {
    // small screen
    bottom: calc(140px + 20px);
    right: 20px;
  }
  @media (min-width: 960px) {
    // desktop (large screen)
    bottom: calc(30px);
    right: 20px;
  }
}

#exitBoundsEditFab {
  position: absolute;
  z-index: 2;
  right: 38px;
  bottom: 95px; // TODO fix
}

#searchSpotList {
  mat-card {
    cursor: pointer;
  }

  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox
}

mat-card {
  ::ng-deep .mat-card-header-text {
    width: 100%;
    margin: 0;
  }
}

::ng-deep .mat-mdc-form-field-icon-suffix {
  display: flex;
  flex-direction: row;
}

::ng-deep mat-card.mat-mdc-card.mdc-card {
  box-shadow: none;

  > mat-card-header {
    padding-top: 0px;
  }
}

.mini-fabs {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 20px;
  gap: 15px;
  @media (max-width: 599.99px) {
    top: 124px;
  }
  @media (min-width: 600px) {
    top: 20px;
  }
}

mat-drawer {
  width: calc(100% - (80px + 5px * 2));

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 1200px) {
    width: 33.33%;
  }
}

mat-chip-option {
  border-radius: 20px;
  overflow: hidden;
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__action--primary::before {
  border: none !important;
}
