<mat-form-field appearance="outline" class="w-100">
  <mat-label i18n="@@event_access.user">Person</mat-label>
  <input
    matInput
    [formControl]="control"
    [matAutocomplete]="userAutocomplete"
    placeholder="Search a public profile or paste a user ID"
    i18n-placeholder="@@event_access.user_placeholder"
  />
  @if (selectedUser()?.profile_picture; as profilePicture) {
    <img
      matPrefix
      class="user-avatar"
      [src]="profilePicture"
      alt=""
    />
  }
  @if (searching() || resolving()) {
    <mat-progress-spinner matSuffix diameter="18" mode="indeterminate" />
  } @else {
    <mat-icon matSuffix>person_add</mat-icon>
  }
  <mat-autocomplete
    #userAutocomplete="matAutocomplete"
    [displayWith]="displayUser"
    (optionSelected)="selectUser($event)"
  >
    @for (user of results(); track user.uid) {
      <mat-option [value]="user">
        <span class="user-option">
          @if (user.profile_picture) {
            <img class="user-avatar" [src]="user.profile_picture" alt="" />
          } @else {
            <mat-icon>person</mat-icon>
          }
          <span>{{ user.display_name || user.uid }}</span>
        </span>
      </mat-option>
    }
  </mat-autocomplete>
  <mat-hint i18n="@@event_access.user_hint">
    Profiles hidden from search can still be added with their user ID.
  </mat-hint>
</mat-form-field>
