:host {
  display: block;
  min-width: 0;
}

.user-option {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.user-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

img[matprefix] {
  margin-right: 0.5rem;
}
