.spot-container {
  display: grid;
  gap: 10px;
  grid-auto-rows: 1fr;
  max-width: 100%;

  > * {
    min-width: 0;
    min-height: 0;
    // overflow: hidden; // Removing overflow hidden on items to prevent clipping issues
    z-index: 1;
  }
}
.spot-container.compact {
  grid-template-columns: repeat(1, 1fr);
}

.spot-container:not(.compact) {
  grid-template-columns: repeat(2, 1fr);
}

a {
  text-decoration: inherit !important;
  color: inherit !important;
}
