<div class="d-flex justify-content-between align-items-center mb-2">
  <h3 class="mat-title-medium m-0">{{ text() }}</h3>
  <mat-button-toggle-group #group="matButtonToggleGroup" value="grid">
    <mat-button-toggle value="grid" aria-label="Grid view">
      <mat-icon>grid_view</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="compact" aria-label="List view">
      <mat-icon>view_list</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<!-- Spot highlights -->
@if(renderedHighlightedSpots().length > 0) {
<!-- <h4
  class="mat-title-medium"
  i18n="
    Title for the spot highlights, spots is clear from the
    context@@spot_highlights"
>
  Highlights
</h4> -->
<div
  [class.compact]="group.value === 'compact'"
  class="spot-container pb-3"
  [appAutoAnimate]="enableAnimation()"
>
  @for(spot of renderedHighlightedSpots(); track trackSpot($index, spot)) {
  <div>
    @if(withHrefLink()) {
    <a [routerLink]="['/map', spot.slug ?? spot.id]">
      <app-spot-preview-card
        [spotData]="spot"
        [infoOnly]="true"
        [clickable]="true"
        [isCompact]="group.value === 'compact'"
        [loadingPriority]="true"
        class="w-100"
      >
      </app-spot-preview-card>
    </a>
    } @else {
    <app-spot-preview-card
      [spotData]="spot"
      [infoOnly]="true"
      [clickable]="true"
      [isCompact]="group.value === 'compact'"
      [loadingPriority]="true"
      (click)="spotClick($index)"
      class="w-100"
    >
    </app-spot-preview-card>
    }
  </div>
  }
</div>
}

<!-- All spots except highlights -->
@if(renderedRemainingSpots().length > 0 && renderedHighlightedSpots().length >
0) {
<h4 class="mat-title-medium" i18n="@@regular_spots_text">Other Spots</h4>
} @if(renderedRemainingSpots().length > 0) {
<div
  [class.compact]="group.value === 'compact'"
  class="spot-container pb-3"
  [appAutoAnimate]="enableAnimation()"
>
  @for(spot of renderedRemainingSpots(); track trackSpot($index, spot)) {
  <div>
    @if(withHrefLink()) {
    <a [routerLink]="['/map', getSpotIdOrSlugForSpotObj(spot)]">
      <app-spot-preview-card
        [spotData]="spot"
        [infoOnly]="true"
        [clickable]="true"
        [isCompact]="group.value === 'compact'"
        [imgSize]="400"
        [loadingPriority]="$index < 6"
        class="w-100"
      >
      </app-spot-preview-card> </a
    >} @else {
    <app-spot-preview-card
      [spotData]="spot"
      [infoOnly]="true"
      [clickable]="true"
      [isCompact]="group.value === 'compact'"
      [imgSize]="400"
      [loadingPriority]="$index < 6"
      class="w-100"
      (click)="spotClick($index)"
    >
    </app-spot-preview-card>
    }
  </div>
  }
</div>
}

<!-- No spots and no highlights text -->
@if(renderedRemainingSpots().length === 0 && renderedHighlightedSpots().length
=== 0) {
<div class="d-flex justify-content-center align-items-center h-100">
  <p
    class="mat-body-large"
    i18n="
      The text in the spot list panel if no spots are
      found/displayed@@no_spots_text"
  >
    There are no highlighted spots for this area, zoom in on dots in the map to
    discover other spots.
  </p>
</div>
}
