:host {
  background-color: transparent !important;
  pointer-events: none !important;
  position: relative;
  overflow: hidden;
  border-radius: 0px !important;
}

$handle-region-height: 30px;
$sheet-header-height: calc(110px + $handle-region-height);

div.sheet {
  z-index: 3;
  border-radius: 28px 28px 0px 0px !important;
  position: absolute;
  top: calc(100% - $sheet-header-height);

  height: 100%;
  width: 100%;

  pointer-events: visible;

  > * {
    position: relative;
  }

  > div.content {
    overflow-y: scroll;
    height: calc(100% - $handle-region-height);
    overflow-x: hidden;
  }
}

div.handle-region {
  height: $handle-region-height;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 16px;
  margin-right: 16px;

  > div.handle {
    height: 6px;
    width: 50px;
    background-color: #4a4a4f;
    border-radius: 3px;
  }

  // box-shadow: #1b1b1f 0px 6px 10px 0px;
  // margin-bottom: 6px;

  &:not(.content-at-top) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: border-bottom 0.3s ease;
  }

  &.content-at-top {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
  }
  z-index: 1;
}
