<div
  class="h-100 d-flex flex-column"
  [class.p-3]="!isCompactView"
  [style]="{ 'padding-top': isCompactView ? '0 !important' : '1rem' }"
>
  @if(showHeader()) {
  <!-- Header image -->
  <!-- <div
  class="header w-100"
  style="height: 200px; overflow: hidden; position: relative"
>
  <img
    [ngSrc]="bannerImageSrc"
    alt="Swiss Jam header image"
    fill
    style="object-fit: cover"
  />
</div> -->

  <!-- Header info -->
  <div class="d-flex flex-row gap-3 w-100 pb-3" [class.p-3]="isCompactView">
    <div
      class="flex-grow-1 d-flex justify-content-start align-items-center gap-5"
    >
      <h2 class="mat-heading-large m-0">{{ name }}</h2>
      @if(responsive.isDesktop()) {
      <h4 class="mat-title-medium m-0">
        {{ venueString }}, {{ localityString }}
      </h4>
      }
      <h5 class="mat-title-medium m-0 d-none d-xl-block">
        {{
          readableStartDate !== readableEndDate
            ? readableStartDate + " - " + readableEndDate
            : readableStartDate
        }}
      </h5>
    </div>
    @if(!isEmbedded) {
    <div class="d-flex flex-row gap-2">
      <a [href]="url" target="_blank" mat-icon-button class="d-flex">
        <mat-icon>launch</mat-icon>
      </a>
      <button mat-icon-button class="d-flex" (click)="shareEvent()">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button class="d-flex" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    }
  </div>

  <mat-menu #menu="matMenu">
    <a
      href="https://results.vertical-life.info/event/288/"
      target="_blank"
      mat-menu-item
    >
      <mat-icon>checklist</mat-icon><span i18n>Smart Scorecard</span></a
    >
    <button
      mat-menu-item
      (click)="mapsApiService.openDirectionsInMaps(markers[1].location)"
    >
      <mat-icon>directions</mat-icon>
      <span i18n>Directions</span>
    </button>
    <!-- <button mat-menu-item disabled>
      <mat-icon>report</mat-icon>
      <span i18n>Report</span>
    </button> -->
    <a
      [routerLink]="['/embed']"
      [queryParams]="{ type: 'event' }"
      class="text-decoration-none"
    >
      <button mat-menu-item>
        <mat-icon>code</mat-icon>
        <span i18n>Embed</span>
      </button>
    </a>
  </mat-menu>
  }

  <mat-drawer-container class="flex-grow-1 bg-transparent">
    <mat-drawer
      #drawer
      [opened]="sidenavOpen()"
      class="drawer d-block overflow-x-hidden bg-transparent"
      [class.ps-0]="isCompactView"
      [class.no-rounding]="isCompactView"
      mode="side"
      position="end"
    >
      <div
        class="h-100 w-100 drawer-container d-flex flex-column gap-0 align-items-start"
        style="border-radius: 16px"
        [class.no-rounding]="isCompactView"
      >
        <mat-chip-listbox class="p-3" [value]="tab()">
          @for (tabKeyVal of (tabs | keyvalue); track $index) {
          <mat-chip-option
            i18n
            [value]="tabKeyVal.key"
            (selectionChange)="tab.set(tabKeyVal.key)"
            >{{ tabKeyVal.value }}</mat-chip-option
          >
          }
        </mat-chip-listbox>

        <mat-divider></mat-divider>
        @defer { @switch (tab()) { @case('challenges') {
        <!-- Show challenges -->
        @if(selectedChallenge()) {
        <button
          mat-button
          (click)="selectedChallenge.set(null)"
          class="flex-shrink-0 text-truncate mb-2 ms-1"
        >
          <mat-icon>arrow_back_ios</mat-icon>
          <span class="d-flex flex-row gap-2 align-items-center">
            <span i18n>All Event Challenges</span>
          </span>
        </button>

        <div
          #scrollContainer
          class="py-3 overflow-y-auto overflow-x-hidden flex-grow-1 w-100"
        >
          <app-challenge-detail
            @fadeInOut
            [challenge]="selectedChallenge()!"
            [number]="selectedChallenge()!.number"
          ></app-challenge-detail>
        </div>
        } @else {
        <app-challenge-list
          @fadeInOut
          class="px-3 overflow-y-auto flex-grow-1"
          [challenges]="challenges()"
          [withHrefLink]="false"
          [showFilterOptions]="true"
          [showIndexAsNumber]="true"
          [(selectedLabels)]="selectedLabels"
          [(selectedParticipantTypes)]="selectedParticipantTypes"
          (challengeClickIndex)="challengeClickedIndex($event)"
        >
        </app-challenge-list>
        } } @case('event') {
        <div class="d-flex flex-column gap-3 p-3 overflow-y-auto">
          @for(marker of customMarkers | reverse; track marker) {
          <div
            class="d-flex flex-row justify-content-start gap-2 align-items-center p-2"
          >
            <app-marker
              [clickable]="false"
              [color]="marker.color ?? 'primary'"
              [icons]="marker.icons"
            ></app-marker>
            <span>{{ marker.name }}</span>
          </div>
          }
        </div>
        } @case('spots') {
        <!-- Show spots -->
        @if(selectedSpot()) {
        <div #spotScrollContainer class="w-100 d-block overflow-x-hidden h-100">
          <app-spot-details
            @fadeInOut
            [spot]="selectedSpot()"
            [editable]="false"
            [isEditing]="false"
            [dismissable]="true"
            [border]="false"
            (dismiss)="selectedSpot.set(null)"
            class="w-100 d-block overflow-x-hidden h-100"
          ></app-spot-details>
        </div>
        } @else {@if(spots() && spots()!.length > 0) {
        <app-spot-list
          @fadeInOut
          class="d-block p-3 h-100 overflow-y-scroll overflow-x-hidden"
          [spots]="spots()"
          [withHrefLink]="false"
          (spotClickIndex)="spotClickedIndex($event)"
          text="Event spots"
          i18n-text
        ></app-spot-list>
        } } } } }
      </div>
    </mat-drawer>

    <!-- Map stuff -->
    <div
      class="h-100 d-flex w-100 overflow-hidden position-relative"
      style="border-radius: 16px"
      [class.no-rounding]="isCompactView"
    >
      @defer { @if(swissJamSpotIds.length > 0) { @if(spots() && spots()!.length
      > 0) {
      <app-map
        @fadeInOut
        #spotMap
        id="spotMap"
        [showGeolocation]="false"
        [boundRestriction]="bounds"
        [polygons]="areaPolygon() ? [areaPolygon()!] : []"
        [minZoom]="16"
        [focusZoom]="focusZoom"
        [mapStyle]="mapStyle"
        [markers]="markers"
        [spots]="spots()"
        [selectedSpot]="selectedSpot()"
        (spotClick)="selectSpot($event)"
        (mapClick)="deselectSpot()"
        [showSpotPreview]="!sidenavOpen()"
        (markerClickEvent)="onMarkerClickFromMap($event)"
        class="w-100 h-100 overflow-hidden d-block"
      ></app-map>
      } } @else { @if(spots() && spots()!.length > 0) {
      <app-spot-map
        @fadeInOut
        #spotMap
        id="spotMap"
        [isClickable]="true"
        [showGeolocation]="false"
        [showSatelliteToggle]="true"
        [boundRestriction]="bounds"
        [polygons]="areaPolygon() ? [areaPolygon()!] : []"
        [minZoom]="16"
        [focusZoom]="focusZoom"
        [centerStart]="markers[markers.length - 1].location"
        [mapStyle]="mapStyle"
        [markers]="markers"
        [spots]="spots()"
        [selectedSpot]="selectedSpot()"
        [showSpotPreview]="!sidenavOpen()"
        (selectedSpotChange)="selectedSpot.set($event)"
        (markerClickEvent)="onMarkerClickFromMap($event)"
        class="w-100 h-100 overflow-hidden d-block"
      ></app-spot-map>
      } } @if(!sidenavOpen()) {
      <div
        class="position-absolute d-flex flex-row flex-wrap gap-2 pb-3 overflow-x-hidden"
        style="top: 10px; left: 10px; width: calc(100% - 20px)"
      >
        @defer {
        <app-chip-select
          icon="tune"
          label="Challenge Type"
          [options]="challengeLabels"
          [optionNames]="challengeLabelNames"
          [optionIcons]="challengeLabelIcons"
          [formCtrl]="labelCtrl!"
          [selected]="selectedLabels()"
          (selectedChange)="selectedLabels.set($event)"
          allLabel="All Types"
          i18n-allLabel="challenge type label"
        ></app-chip-select>

        <app-chip-select
          icon="tune"
          label="Challenge Participants"
          [options]="challengeParticipantTypes"
          [optionNames]="challengeParticipantTypeNames"
          [optionIcons]="challengeParticipantTypeIcons"
          [formCtrl]="participantTypeCtrl!"
          [selected]="selectedParticipantTypes()"
          (selectedChange)="selectedParticipantTypes.set($event)"
          allLabel="All Participants"
          i18n-allLabel="challenge participant type"
        ></app-chip-select>
        }
      </div>
      } }
    </div>

    <div style="top: calc(50% - 36px / 2); right: 5px; position: absolute">
      <button
        mat-icon-button
        (click)="toggleSidenav()"
        class="d-flex border justify-content-center align-items-center p-0"
        style="
          background-color: var(--mat-bottom-sheet-container-background-color);
          border-color: var(
            --mat-icon-button-icon-color,
            var(--mat-sys-on-surface-variant)
          ) !important;
          border-width: 0.8px !important;
        "
      >
        @if(sidenavOpen()) {
        <mat-icon>chevron_right</mat-icon>
        } @else {
        <mat-icon>chevron_left</mat-icon>}
      </button>
    </div>
  </mat-drawer-container>
</div>
