<div class="filter-chips-container">
  <div class="chips-scroll-area">
    <mat-chip-listbox
      [value]="selectedFilter"
      [multiple]="false"
      (change)="onChipChange($event.value)"
    >
      @for (filter of presetFilters; track filter.urlParam) {
      <mat-chip-option class="glass" [value]="filter.urlParam">
        <mat-icon matChipAvatar>{{ filter.icon }}</mat-icon>
        <span>{{ filter.label }}</span>
      </mat-chip-option>
      }
    </mat-chip-listbox>
  </div>

  <!-- Filters chip using mat-chip-option with selected for proper visual state -->
  <mat-chip-option
    class="filters-chip glass"
    [selected]="customFilterActive"
    (click)="onFiltersClick()"
  >
    <mat-icon matChipAvatar>tune</mat-icon>
    <span>{{ filtersLabel }}</span>
  </mat-chip-option>
</div>
