div.nav-rail-container {
  display: flex;
  flex-direction: row;
  min-height: 100dvh;
  justify-content: stretch;

  > button {
    margin-bottom: 14px;
  }

  ::ng-deep app-nav-rail-content {
    width: 100%;
    min-width: 0;
  }
}
