<h2 mat-dialog-title i18n="@@welcomeDialogTitle">Welcome to PK Spot! 👋</h2>
<mat-dialog-content>
  <p class="mat-body-medium" i18n="@@welcomeDialogText">
    We're excited to have you join our Parkour and Freerunning community. Here
    you can explore spots, share posts, and connect with other practitioners. 🤸
  </p>

  <h4 class="mat-title-medium" i18n="@@welcomeDialogSafetyHeading">
    Our Guiding Principles: Safety & Respect
  </h4>
  <p class="mat-body-medium" i18n="@@welcomeDialogSafetyBody">
    Remember that Parkour has inherent risks and you are responsible for your
    own safety. Our spots are user-submitted and their accuracy and legality are
    not guaranteed. Always respect property rights and local laws.
  </p>

  <h4 class="mat-title-medium" i18n="@@welcomeDialogTechHeading">
    A Note on Privacy & Technology
  </h4>
  <p class="mat-body-medium" i18n="@@welcomeDialogTechBody">
    Essential features (like Google Maps) may use cookies 🍪. To protect your
    privacy, we use a privacy-focused, cookie-free analytics service.
  </p>

  <p class="mat-title-small" i18n="@@welcomeDialogButtonInfo">
    By clicking "Agree & Continue", you accept our
    <a routerLink="/terms-of-service">Terms of Service</a> and acknowledge our
    <a routerLink="/privacy-policy">Privacy Policy</a>.
  </p>
</mat-dialog-content>
<mat-dialog-actions
  class="d-flex flex-row flex-nowrap justify-content-end p-3 gap-3"
>
  <a href="about" mat-stroked-button i18n="@@welcomeDialogAboutButton"
    >About us</a
  >
  <button
    mat-flat-button
    color="primary"
    (click)="agreeAndContinue()"
    i18n="@@agreeAndContinueLabel"
  >
    Agree and Continue
  </button>
</mat-dialog-actions>
