@if(spotEdit(); as edit) {
<article class="spot-edit-card border rounded p-3 mb-3 overflow-hidden">
  <div
    class="spot-edit-card__header d-flex flex-row gap-3 align-items-start justify-content-between"
  >
    <div class="d-flex flex-column gap-1">
      <span class="mat-label-medium spot-edit-card__type">
        @if(edit.type === 'CREATE') { <span i18n>Spot created</span> } @else {
        <span i18n>Spot updated</span> }
      </span>
      <span class="mat-body-small spot-edit-card__timestamp">
        {{ edit.getTimestampString(locale) }}
      </span>
    </div>
    <app-profile-button [user]="edit.user"></app-profile-button>
  </div>

  <div class="spot-edit-card__content pt-2">
    <div class="mat-label-small pb-2" i18n>What changed</div>
    <app-spot-edit-summary [edit]="edit"></app-spot-edit-summary>
  </div>
</article>
}
