<h2 mat-dialog-title i18n="@@add_media.label">Add media</h2>
<div mat-dialog-content>
  <app-media-upload
    [allowedMimeTypes]="allowedMimeTypes"
    [multipleAllowed]="multipleAllowed"
    [storageFolder]="storageFolder"
    (mediaBatchUploaded)="onMediaBatchUploaded($event)"
    (isUploading)="onUploadingChange($event)"
  ></app-media-upload>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
  <button
    mat-button
    (click)="uploading() ? abort() : close()"
    [color]="uploading() ? 'warn' : null"
  >
    {{ uploading() ? "Abort" : "Cancel" }}
  </button>

  <button mat-stroked-button (click)="close()" [disabled]="uploading()" i18n>
    {{ uploading() ? "Uploading..." : "Done" }}
  </button>
</div>
