<mat-button-toggle-group
  [value]="view()"
  aria-label="Event view"
  i18n-aria-label
  (change)="viewChange.emit($event.value)"
>
  <mat-button-toggle
    value="calendar"
    aria-label="Calendar view"
    i18n-aria-label
  >
    <mat-icon>calendar_month</mat-icon>
    <span i18n>Calendar</span>
  </mat-button-toggle>
  <mat-button-toggle value="list" aria-label="List view" i18n-aria-label>
    <mat-icon>view_list</mat-icon>
    <span i18n>List</span>
  </mat-button-toggle>
</mat-button-toggle-group>
