.spot-search-field {
  height: 56px;
  overflow: hidden;
  border: none;
  // width: 100%;

  ::ng-deep .mat-mdc-form-field-subscript-wrapper,
  ::ng-deep .mdc-line-ripple {
    display: none;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: rgba(30, 30, 30, 0.6) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
  }
  ::ng-deep .mat-mdc-form-field-icon-suffix {
    align-items: center;
  }
}

:host {
  background-color: transparent;
  width: 100%;
  // display: block;
  // position: relative;
}

::ng-deep .mat-mdc-option .mat-icon {
  margin-right: 0px !important;
}

mat-icon.typeOrAccesIcon {
  font-size: inherit;
  width: inherit;
  height: inherit;
}

::ng-deep .mat-mdc-autocomplete-panel {
  border-radius: 16px !important;
}

::ng-deep .spot-autocomplete-panel {
  min-width: auto !important;
}

::ng-deep mat-option.spotAutocompleteOption {
  padding: 0px !important;
}

::ng-deep mat-option .mdc-list-item__primary-text {
  overflow: hidden;
  width: 100%;
}
