<mat-form-field appearance="fill" class="w-100 spot-search-field">
  <mat-icon matSuffix>search</mat-icon>

  <input
    #mapSearchInput
    id="mapSearchInput"
    matInput
    i18n-placeholder
    placeholder="Find spots and places"
    [formControl]="spotSearchControl"
    [matAutocomplete]="spotAutocomplete"
  />
  <mat-autocomplete
    #spotAutocomplete="matAutocomplete"
    [autoActiveFirstOption]="true"
    (optionSelected)="optionSelected($event)"
    class="mt-2"
  >
    @if(((spotAndPlaceSearchResults$ | async)?.spots?.hits?.length ?? 0) > 0) {
    <div>
      <p class="mat-label-medium ps-3 pt-1 mb-1">Spots</p>
      <mat-divider></mat-divider>
    </div>
    } @for(hit of (spotAndPlaceSearchResults$ | async)?.spots?.hits; track
    $index) {
    <mat-option
      class="spotAutocompleteOption"
      [value]="{ type: 'spot', id: hit.document.id }"
    >
      <div
        class="d-flex flex-row align-items-center justify-content-start gap-2 pe-3"
      >
        <div class="p-1">
          @if(hit.preview?.imageSrc || hit.document.thumbnail_url) {
          <img
            [src]="hit.preview?.imageSrc || hit.document.thumbnail_url || '#'"
            class="rounded"
            alt=""
            width="50px"
            height="50px"
            style="width: 50px; height: 50px"
          />
          } @else {
          <!-- spacer -->
          <div
            class="rounded border d-flex justify-content-center align-items-center"
            style="width: 50px; height: 50px"
          >
            <mat-icon>location_on</mat-icon>
          </div>
          }
        </div>
        <div
          class="d-flex flex-column gap-0 min-w-0"
          style="flex: 1; min-width: 0"
        >
          <div class="d-flex flex-row gap-2 align-items-center min-w-0">
            <span class="mat-title-medium text-truncate">{{
              getSpotName(hit.preview || hit.document)
            }}</span>
            @if((hit.preview?.rating ?? hit.document.rating) &&
            (hit.preview?.rating ?? hit.document.rating) > 0) {
            <app-spot-rating
              class="mat-title-small"
              [rating1to5]="hit.preview?.rating ?? hit.document.rating"
              [isCompact]="true"
            ></app-spot-rating>
            } @for(amenity of getImportantAmenities(hit.preview?.amenities ||
            hit.document.amenities); track $index) {
            <mat-icon
              class="mat-title-small typeOrAccesIcon"
              [title]="amenity.key"
              >{{ amenity.icon }}</mat-icon
            >
            }
          </div>
          <div
            class="mat-label-medium d-flex flex-row gap-2 align-items-center overflow-hidden"
          >
            @if(hit.document.type) {
            <span
              class="d-flex flex-row gap-1 align-items-center overflow-hidden"
            >
              <mat-icon class="typeOrAccesIcon">{{
                getSpotTypeIcon(hit.document.type)
              }}</mat-icon>
              <span class="text-truncate">{{
                getSpotTypeName(hit.document.type)
              }}</span></span
            >
            } @if(hit.document.access) {
            <span
              class="d-flex flex-row gap-1 align-items-center overflow-hidden"
              ><mat-icon class="typeOrAccesIcon">{{
                getSpotAccessIcon(hit.document.access)
              }}</mat-icon>
              <span class="text-truncate">{{
                getSpotAccessName(hit.document.access)
              }}</span></span
            >}
          </div>
        </div>
        <div></div>
        <span
          class="mat-title-small d-flex flex-row"
          style="flex-shrink: 0; max-width: 100px"
        >
          <span class="mat-title-small text-truncate">{{
            hit.document.address?.locality
          }}</span
          >,
          <span class="mat-title-small ms-1">
            {{ hit.document.address?.country?.code }}</span
          ></span
        >
      </div>
    </mat-option>
    } @if(((spotAndPlaceSearchResults$ | async)?.spots?.hits?.length ?? 0) > 0)
    {
    <div class="pt-2"></div>
    } @if(((spotAndPlaceSearchResults$ | async)?.places?.length ?? 0) > 0) {
    <div>
      <p class="mat-label-medium ps-3 pt-1 mb-1">Google Places</p>
      <mat-divider></mat-divider>
    </div>
    } @for(place of (spotAndPlaceSearchResults$ | async)?.places; track $index)
    {
    <mat-option
      class="spotAutocompleteOption"
      [value]="{ type: 'place', id: place.place_id }"
    >
      <div class="d-flex flex-row align-items-center p-1 gap-2">
        <div
          class="rounded border d-flex justify-content-center align-items-center"
          style="width: 50px; height: 50px"
        >
          <mat-icon>{{ getPlaceIcon(place.types) }}</mat-icon>
        </div>
        <span class="mat-body-large text-truncate p-1">{{
          place.description
        }}</span>
      </div>
    </mat-option>
    }
  </mat-autocomplete>
  <!-- <button
          mat-icon-button
          matSuffix
          color="primary"
          class="profile-icon-button login-fab d-md-none me-2"
          [matMenuTriggerFor]="searchUserMatMenu"
          (click)="$event.stopPropagation()"
        >
          @if(!authService.isSignedIn) {
          <mat-icon>person_outline</mat-icon>
          }
          @if(
            authService.isSignedIn && authService.user?.data?.profilePicture
          ) {
          <img
            [src]="
              storageService.getSpotMediaURL(
                authService.user.data.profilePicture,
                200
              )
            "
          />
          }
        </button>-->
</mat-form-field>
