<div class="activity-feed d-flex flex-column gap-3">
  <div>
    <h1 class="p-0 mat-headline-medium m-0 mb-3">Activity</h1>

    <mat-chip-listbox class="p-0" [value]="category()">
      @for (tabKeyVal of (categories | keyvalue); track $index) {
      <mat-chip-option
        i18n
        [value]="tabKeyVal.key"
        (selectionChange)="category.set(tabKeyVal.key)"
        [disabled]="tabKeyVal.key !== 'community'"
        >{{ tabKeyVal.value }}</mat-chip-option
      >
      }
    </mat-chip-listbox>
  </div>

  @if (newItemsBuffer$ | async; as buffer) { @if (buffer.length > 0) {
  <button class="new-items-btn" (click)="showNewItems()">
    Show {{ buffer.length }} new activities ↑
  </button>
  } } @if (items$ | async; as items) { @if (items.length === 0 && (isLoading$ |
  async) === false) {
  <div class="empty-state">No activity yet.</div>
  } @for (item of items; track item.spotId + '_' +
  item.formattedTimestamp.getTime()) {
  <mat-card class="feed-item">
    <mat-card-header class="d-flex flex-column gap-1 pb-3">
      <div class="user-action mat-body-large">
        <strong>{{ item.edit.user.display_name }}</strong>
        {{ getActionText(item.edit) }}
        @if (item.spot) {
        <span>{{ item.spot.localityString() }}</span>
        }
      </div>
      <div class="timestamp mat-body-small">
        {{ item.formattedTimestamp | date : "short" }}
      </div>
    </mat-card-header>
    <mat-card-content>
      <a
        [routerLink]="['/map', item.spot?.slug || item.spotId]"
        class="activity-preview-link"
      >
        <app-spot-preview-card
          [spotData]="item.spot"
          [clickable]="true"
          [imgSize]="200"
          [isCompact]="true"
        ></app-spot-preview-card>
      </a>
    </mat-card-content>
  </mat-card>
  } } @if (isLoading$ | async) {
  <div class="loading-state">Loading activities...</div>
  } @if (hasMore$ | async) { @if ((isLoading$ | async) === false) {
  <div class="load-more-container">
    <button matButton="filled" (click)="loadMore()">Load More</button>
  </div>
  } }
</div>
