::ng-deep .mdc-button__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

a.mdc-button {
  padding-left: 6px;
  padding-right: 6px;
}

.media-image {
  width: calc(100% + 2 * 16px);
  height: auto;
  max-height: 100%;
  margin-left: -16px;
  margin-right: -16px;
}
