@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  mat-toolbar {
    background-color: mat.get-theme-color($theme, surface-container) !important;
  }

  .check-in-chip {
    background-color: mat.get-theme-color($theme, surface-container-highest);
    color: mat.get-theme-color($theme, on-surface);
    border: 1px solid mat.get-theme-color($theme, outline-variant);
  }
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
