.title,
.logo {
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em;
  line-height: 1em;
  padding-bottom: 4px;
}

$toolbar-height: 80px;
mat-toolbar {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: $toolbar-height;
  flex-shrink: 0;
}

.spacer {
  flex: 1 1 auto;
}

.profile-icon-button {
  border-radius: 50%;
  overflow: clip;
  position: relative;
  //   img {
  //     width: 100%;
  //     height: 100%;
  //   }
}
::ng-deep .user-display > span.mat-button-wrapper {
  width: 100%;
  text-align: center;
}

::ng-deep a.mat-menu-item {
  text-decoration: none;
}

.login-fab {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}

#alainMenuButton {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 101;

  // On larger screens (sidepanel layout), use more padding to match the search container
  @media (min-width: 600px) {
    left: 16px;
    top: 16px;
  }
}

// .main-content {
//   overflow: scroll; // weird scroll bars on chrome
// }

a {
  text-decoration: inherit;
  color: inherit;
}
