@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  div.info-panel {
    // background-color: mat.get-theme-color($theme, surface-container-low);

    background-color: rgba(
      mat.get-theme-color($theme, surface-container-low),
      0.8
    );
    backdrop-filter: blur(10px);
  }
}
