<section id="impressum" class="p-5">
  <h1>Impressum</h1>

  <h3>Angaben gemäss Art. 3 Abs. 1 lit. s UWG</h3>
  <p>
    <strong>Verantwortlich für den Inhalt dieser Website:</strong><br />
    Lukas Bühler
  </p>

  <p>
    <strong>Postanschrift:</strong><br />
    Lukas Bühler<br />
    c/o Belsoft Collaboration AG<br />
    Russenweg 26<br />
    8008 Zürich<br />
    Schweiz
  </p>

  <p>
    <strong>Kontakt:</strong><br />
    E-Mail:
    <a href="mailto:contact@lukasbuehler.ch">contact{{ "@" }}lukasbuehler.ch</a>
  </p>

  <h2>Haftungsausschluss (Disclaimer)</h2>
  <p>
    Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die
    Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch
    keine Gewähr übernehmen. Als Betreiber sind wir für eigene Inhalte auf
    diesen Seiten nach schweizerischem Recht verantwortlich. Wir sind jedoch
    nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen
    (nutzergenerierte Inhalte) zu überwachen oder nach Umständen zu forschen,
    die auf eine rechtswidrige Tätigkeit hinweisen.
  </p>

  <h2>Urheberrecht (Copyright)</h2>
  <p>
    Die durch den Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten
    unterliegen dem schweizerischen Urheberrecht. Beiträge Dritter
    (nutzergenerierte Inhalte) sind als solche gekennzeichnet und unterliegen
    den von den jeweiligen Nutzern gewährten Lizenzen.
  </p>
</section>
