<section id="impressum" class="p-5">
  <h1>Impressum</h1>

  <p>
    Verantwortlich für den Inhalt dieser Website: Lukas Bühler [PK Spot, e.g.,
    "pkspot.app"] <br />
  </p>
  <p>
    Addresse: <br />
    Lukas Bühler <br />
    Belsoft Collaboration AG <br />
    Russenweg 26 <br />
    8008 Zürich <br />
    Schweiz
  </p>

  <p>
    Kontakt: E-Mail:
    <a href="mailto:contact@lukasbuehler.ch">
      contact{{ "@" }}lukasbuehler.ch
    </a>
  </p>

  <p>
    Haftungsausschluss: Die Inhalte dieser Website wurden mit größter Sorgfalt
    erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte
    übernehmen wir jedoch keine Gewähr. Als Diensteanbieter sind wir gemäß
    Schweizer Recht für eigene Inhalte auf diesen Seiten verantwortlich, jedoch
    nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
    überwachen.
  </p>

  <p>
    Urheberrecht: Die durch den Seitenbetreiber erstellten Inhalte und Werke auf
    diesen Seiten unterliegen dem schweizerischen Urheberrecht. Beiträge Dritter
    sind als solche gekennzeichnet.
  </p>
</section>
