<div class="map-container">
  <!-- The spot map, defer loading to make sure it is not loaded on the server. -->
  @defer {
  <app-spot-map
    #spotMap
    id="spotMap"
    [selectedSpot]="selectedSpot()"
    [selectedChallenge]="selectedChallenge()"
    [selectedSpotChallenges]="selectedSpot()?.topChallenges() ?? []"
    (selectedSpotChange)="selectSpot($event)"
    [centerStart]="{
      lat: 48.6270939,
      lng: 2.4305363,
    }"
    [(isEditing)]="isEditing"
    [(mapStyle)]="mapStyle"
    [showAmenities]="showAmenities()"
    (visibleSpotsChange)="setVisibleSpots($event)"
    (hightlightedSpotsChange)="highlightedSpots = $event"
    (hasGeolocationChange)="askedGeoPermission = true; hasGeolocation = $event"
  ></app-spot-map>
  }

  <div class="search-group">
    <div class="d-flex flex-row gap-3">
      @if(alainMode) {
      <div class="spacer d-block d-md-none" style="width: 56px"></div>
      }
      <app-search-field
        class="w-100 mat-elevation-z3"
        (spotSelected)="openSpotOrGooglePlace($event)"
      ></app-search-field>
    </div>

    @if(spotMap) { @if(selectedSpot()) {
    <div class="info-panel d-none d-md-block spot-preview-container pt-3">
      @if(selectedChallenge()) {
      <a
        mat-button
        [routerLink]="[
          '/map',
          selectedSpotIdOrSlug(),
          showAllChallenges() ? 'c' : ''
        ]"
      >
        <mat-icon>arrow_back_ios</mat-icon>
        <span class="d-flex flex-row gap-2 align-items-center">
          <span
            >@if(showAllChallenges()) {<span i18n>All Challenges of </span>}{{
              selectedSpot()!.name()
            }}</span
          >
          <span i18n class="mat-label-small px-1 border rounded me-1"
            >Spot</span
          >
        </span>
      </a>
      <app-challenge-detail
        @slideInOut
        class="d-block"
        [(challenge)]="selectedChallenge"
        [(isEditing)]="isEditing"
      ></app-challenge-detail>
      } @else if(showAllChallenges()) {
      <a mat-button [routerLink]="['/map', selectedSpotIdOrSlug()]">
        <mat-icon>arrow_back_ios</mat-icon>
        <span class="d-flex flex-row align-items-center gap-2">
          <span>{{ selectedSpot()!.name() }}</span>
          <span i18n class="mat-label-small px-1 border rounded me-1"
            >Spot</span
          >
        </span>
      </a>
      <div class="p-3 d-flex flex-column gap-2" @slideInOut>
        <h4 class="mat-title-medium mt-2" i18n>
          All Challenges of {{ selectedSpot()!.name() }}
        </h4>
        <app-challenge-list
          class="w-100"
          [challenges]="allSpotChallenges()"
          [filterOptions]="true"
        ></app-challenge-list>
      </div>
      }@else {
      <app-spot-details
        @fadeInOut
        #spotDetail
        class="d-block"
        [spot]="selectedSpot()"
        [(challenge)]="selectedChallenge"
        [border]="false"
        [dismissable]="true"
        [infoOnly]="false"
        [editable]="true"
        [isEditing]="isEditing()"
        (isEditingChange)="$event ? spotMap.startEdit() : spotMap.discardEdit()"
        (dismiss)="closeSpot()"
        (addBoundsClick)="spotMap.addBounds()"
        (focusClick)="spotMap.focusSpot(selectedSpot()!)"
        (saveClick)="spotMap.saveSpot($event)"
      ></app-spot-details
      >}
    </div>
    } @else {
    <div class="info-panel d-none d-md-block p-3">
      <app-spot-list
        @fadeInOut
        [spots]="visibleSpots"
        [highlightedSpots]="highlightedSpots"
      ></app-spot-list>
    </div>
    }
    <app-bottom-sheet #bottomSheet class="d-md-none flex-grow-1">
      @if(selectedSpot()) {
      <div class="spot-preview-container">
        @if(selectedChallenge()) {
        <app-challenge-detail
          [(challenge)]="selectedChallenge"
          [(isEditing)]="isEditing"
        ></app-challenge-detail>
        } @else {
        <app-spot-details
          @fadeInOut
          #spotDetail
          [spot]="selectedSpot()"
          [(challenge)]="selectedChallenge"
          [border]="false"
          [dismissable]="true"
          [infoOnly]="false"
          [editable]="true"
          [isEditing]="isEditing()"
          (isEditingChange)="
            $event ? spotMap.startEdit() : spotMap.discardEdit()
          "
          (dismiss)="closeSpot()"
          (addBoundsClick)="spotMap.addBounds()"
          (focusClick)="spotMap.focusSpot(selectedSpot()!)"
          (saveClick)="spotMap.saveSpot($event)"
        ></app-spot-details
        >}
      </div>
      } @else {
      <div class="px-3">
        <app-spot-list
          @fadeInOut
          [spots]="visibleSpots"
          [highlightedSpots]="highlightedSpots"
        ></app-spot-list>
      </div>
      }
    </app-bottom-sheet>
    }
  </div>

  <!-- Search option chips -->
  <!-- @if(authService.isSignedIn && !isEditing()) {
  <mat-chip-listbox class="search-option-chips">
    <mat-chip-option color="">Unvisited</mat-chip-option>
    <mat-chip-option color="primary" leadingIcon="flag"
      >Visited</mat-chip-option
    >
  </mat-chip-listbox>
  } -->

  <div class="mini-fabs">
    <button
      mat-mini-fab
      #mapStyleFab
      id="mapStyleFab"
      (click)="spotMap ? spotMap.toggleMapStyle() : null"
      color="primary"
      i18n-matTootlip
      [matTooltip]="
        mapStyle === 'roadmap' ? 'Show satellite map' : 'Show roadmap'
      "
      matTooltipPosition="left"
      matTooltipShowDelay="500"
    >
      <mat-icon>
        {{ mapStyle === "roadmap" ? "terrain" : "map" }}
      </mat-icon>
    </button>

    <button
      mat-mini-fab
      #geolocationFab
      id="geolocationFab"
      color="primary"
      (click)="spotMap ? spotMap.focusOnGeolocation() : null"
      i18n-matTootlip
      matTooltip="Go to your location"
      matTooltipPosition="left"
      matTooltipShowDelay="500"
    >
      <mat-icon>
        {{
          askedGeoPermission
            ? hasGeolocation
              ? "my_location"
              : "location_disabled"
            : "location_searching"
        }}
      </mat-icon>
    </button>

    <!-- Show amenity markers mini FAB-->
    <button
      mat-mini-fab
      #amenitiesFab
      id="amenitiesFab"
      color="accent"
      style="background-color: #055300; color: #a7f690"
      (click)="showAmenities.set(!showAmenities())"
      [disabled]="spotMap ? spotMap.mapZoom < 16 : true"
      i18n-matTootlip
      [matTooltip]="
        showAmenities() ? 'Hide amenity markers' : 'Show amenity markers'
      "
      matTooltipPosition="left"
      matTooltipShowDelay="500"
    >
      <mat-icon>
        {{ showAmenities() ? "location_off" : "location_on" }}
      </mat-icon>
    </button>
  </div>

  @if(authService.isSignedIn && !isEditing()) {
  <!-- Add / import spots speed dial-->
  <!-- <app-speed-dial-fab
    #createSpotSpeedDial
    id="createSpotSpeedDial"
    [buttonConfig]="speedDialButtonConfig"
    [openOnHover]="true"
    [rotationDegrees]="0"
    (mainFabClick)="spotMap?.createSpot()"
    (miniFabClick)="speedDialMiniFabClick($event)"
  ></app-speed-dial-fab> -->
  <button
    @fadeInOut
    mat-fab
    extended
    #createSpotSpeedDial
    id="createSpotSpeedDial"
    color="primary"
    (click)="spotMap ? spotMap.createSpot() : null"
  >
    <mat-icon> add_location </mat-icon>
    <span i18n class="mdc-button__label">Add Spot</span>
  </button>
  }

  <!-- <mat-menu #searchUserMatMenu="matMenu">
    <app-user-menu-content></app-user-menu-content>
  </mat-menu> -->
</div>
