<div
  #fabContainer
  class="fab-container"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <button
    mat-fab
    [extended]="buttonConfig?.mainButton?.isExtended"
    class="sd-toggler"
    [color]="buttonConfig?.mainButton?.color || 'primary'"
    [matTooltipDisabled]="!buttonConfig?.mainButton?.tooltip || !openOnHover"
    [matTooltip]="buttonConfig?.mainButton?.tooltip || ''"
    [matTooltipPosition]="
      buttonConfig?.tooltipPosition || defaultTootltipPosition
    "
    (click)="onMainClick()"
  >
    <mat-icon
      [@mainFabButtonIconRotation]="{
        value: isOpen ? 'open' : 'closed',
        params: { degrees: rotationDegrees }
      }"
      >{{ buttonConfig?.mainButton?.icon ?? "add" }}</mat-icon
    >
    @if(buttonConfig?.mainButton?.isExtended) {
    {{ buttonConfig?.mainButton?.label }} }
  </button>
  <div
    class="mini-fab-container"
    *ngIf="isOpen"
    [@speedDialStagger]="{ value: buttonConfig?.miniButtons?.length || 0 }"
  >
    @for(miniBtn of buttonConfig?.miniButtons ?? []; track $index) {
    <button
      mat-mini-fab
      class="mini-fab"
      [color]="buttonConfig?.miniButtonColor || 'accent'"
      [matTooltip]="miniBtn.tooltip"
      [matTooltipPosition]="buttonConfig?.tooltipPosition || 'left'"
      (click)="miniButtonClick($index)"
    >
      <mat-icon>{{ miniBtn.icon }}</mat-icon></button
    >}
  </div>
</div>
