mat-card {
  mat-card-header {
    padding-top: 0px;
    flex-grow: 1;
    overflow: hidden;

    ::ng-deep div.mat-mdc-card-header-text {
      width: 100%;
    }
  }
}

mat-card.compact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  overflow: hidden;

  > .img-container {
    border-radius: 0;
    position: relative;
    aspect-ratio: 1/1;
    background-color: #2b2b2b;

    > img {
      object-fit: cover;
      transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
      filter: brightness(1);
      transform: scale(1) translateZ(0);
      backface-visibility: hidden;
    }
  }

  ::ng-deep mat-icon {
    vertical-align: top;
  }
}
mat-card:not(.compact) {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  // height: 100%; // Removing this as it forces 100% height which might be 0 if parent is auto
  > .img-container {
    width: 100%;
    aspect-ratio: 4/3;
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #2b2b2b; // Placeholder color matching dark theme card/hover

    > img {
      object-fit: cover;
      transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
      filter: brightness(1);
      transform: scale(1) translateZ(0);
      backface-visibility: hidden;
    }
  }
}
mat-card.clickable:hover {
  background-color: #232325;
  transition: background-color 0.2s ease-in-out;
  > .img-container > img {
    filter: brightness(1.2);
    transform: scale(1.1);
    transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
}

.clickable {
  cursor: pointer;
}

.amenity-icon {
  height: 1rem;
  width: 1rem;
  font-size: 1rem;

  // Make negative amenity icons slightly more muted
  &.negative {
    opacity: 0.6;
  }
}

.img-container.isCompact {
  height: 100%;
}

.country-badge {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.flag-emoji {
  font-size: 1.4em;
  line-height: 1;
  font-style: normal;
  margin-left: 4px;
}

.country-code {
  font-weight: 500;
}

.access-off-limits {
  color: #ffb4ab !important; // Material Design Error Color
  mat-icon {
    color: #ffb4ab !important;
  }
}

.access-private {
  color: #fff28f !important;
  mat-icon {
    color: #fff28f !important;
  }
}
