<div class="container" style="padding-top: 80px">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-9">
      <h1
        class="mat-headline-medium"
        i18n="sign in page title|Title of the sign in page@@signin.title"
      >
        Sign in
      </h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
      <h2
        class="mat-title-medium"
        i18n="
          email password section header|Header for email and password
          section@@signin.email_password.header"
      >
        E-Mail and password
      </h2>
      @if(signInForm) {
      <form
        [formGroup]="signInForm"
        class="d-flex flex-column"
        (ngSubmit)="trySignIn(signInForm.value)"
      >
        <mat-form-field appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error
            *ngIf="emailFieldHasError"
            i18n="
              email validation error|Error message for invalid
              email@@signin.email.validation_error"
            >This E-Mail address is not valid!</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error
            *ngIf="passwordFieldHasError"
            i18n="
              password validation error|Error message for empty
              password@@signin.password.validation_error"
            >The password field is empty!</mat-error
          >
        </mat-form-field>

        <div *ngIf="signInError" class="mt-3 alert alert-danger" color="">
          {{ signInError }}
        </div>

        <div class="mt-3 d-flex flex-row-reverse justify-content-between">
          <button mat-flat-button type="submit" [disabled]="isSubmitting">
            <mat-icon>login</mat-icon>
            <span i18n="sign in button|Button to sign in@@signin.button"
              >Sign in</span
            >
          </button>
          <button mat-stroked-button routerLink="/forgot-password">
            <mat-icon>lock_reset</mat-icon
            ><span
              i18n="
                forgot password button|Button to reset
                password@@signin.forgot_password.button"
              >Forgot password</span
            >
          </button>
        </div>
      </form>
      }
    </div>
    <div class="col-sm-12 d-md-none">
      <mat-divider class="mt-3 mb-3"></mat-divider>
    </div>
    <div class="col-md-3">
      <h3
        class="mat-title-medium text-center"
        i18n="
          other signin options header|Header for other sign-in
          options@@signin.other_options.header"
      >
        Other sign-in options
      </h3>
      <div class="oauth-buttons d-flex flex-column align-items-center">
        <button mat-stroked-button (click)="trySignInGoogle()">
          <span class="d-flex gap-2 align-items-center">
            <img
              ngSrc="/assets/logos/google_icon.png"
              height="16"
              width="16"
              alt="G"
            />
            Google</span
          >
        </button>
        <!-- <button mat-stroked-button>
          <span class="d-flex gap-2 align-items-center">
            <img
              ngSrc="/assets/logos/apple_icon_dark.png"
              height="16"
              width="16"
              alt=""
            />
            Apple</span
          >
        </button> -->
        <!-- <button mat-flat-button disabled color="accent">Twitter</button>
        <button mat-flat-button disabled color="primary">Github</button> -->
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-9 text-center mb-5">
      <mat-divider class="mt-4 mb-3"></mat-divider>
      <p
        class="mat-body"
        i18n="
          no account message|Message for users without an
          account@@signin.no_account.message"
      >
        Don't have an account yet? Simply sign in with your Google account or
        sign up below.
      </p>
      <button mat-stroked-button routerLink="/sign-up">
        <mat-icon>person_add</mat-icon
        ><span i18n="sign up button|Button to sign up@@signin.signup.button"
          >Sign up here</span
        >
      </button>
    </div>
  </div>
</div>
