:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.placeholder-image {
  object-fit: cover;
}

.placeholder-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  padding: 0;
  background: none;
  color: rgb(255 255 255 / 80%);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.012em;
  text-shadow: 0 3px 7px rgb(0 0 0 / 96%), 0 0 18px rgb(0 0 0 / 90%),
    0 0 38px rgb(0 0 0 / 84%), 0 0 74px rgb(0 0 0 / 74%);
  pointer-events: none;
  width: 100%;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    inset: -1.8rem -3.2rem;
    z-index: -1;
    background: radial-gradient(
      ellipse at center,
      rgb(0 0 0 / 90%) 0%,
      rgb(0 0 0 / 74%) 34%,
      rgb(0 0 0 / 48%) 56%,
      rgb(0 0 0 / 24%) 75%,
      rgb(0 0 0 / 0%) 100%
    );
    filter: blur(16px);
  }

  &::after {
    content: "";
    position: absolute;
    inset: -2.9rem -5rem;
    z-index: -2;
    background: radial-gradient(
      ellipse at center,
      rgb(0 0 0 / 54%) 0%,
      rgb(0 0 0 / 35%) 45%,
      rgb(0 0 0 / 0%) 100%
    );
    filter: blur(24px);
  }
}
