<div class="occurrence-list">
  @for (occurrence of occurrences(); track occurrence.key) {
    <button
      type="button"
      class="occurrence-row"
      [class.is-active]="occurrence.isActive"
      [class.is-selected]="occurrence.item.id === selectedItemId()"
      (click)="select(occurrence)"
    >
      <span class="occurrence-time mat-label-large">{{ time(occurrence) }}</span>
      <span class="occurrence-copy">
        <span class="occurrence-title mat-title-small">{{
          occurrence.item.title
        }}</span>
        <span class="occurrence-spot mat-body-small">
          <mat-icon>location_on</mat-icon>
          {{ occurrence.spot.name() }}
        </span>
        @if (occurrence.isActive) {
          <span class="status-label is-active" i18n="@@event_program.happening_now">
            Happening now
          </span>
        } @else if (occurrence.isNext) {
          <span class="status-label" i18n="@@event_program.next">Next</span>
        }
      </span>
      <mat-icon class="occurrence-chevron">chevron_right</mat-icon>
      @if (showSpotCards()) {
        <app-spot-preview-card
          class="occurrence-card"
          [spotData]="occurrence.spot"
          [isCompact]="true"
          [hasBorder]="false"
          [showInfoButton]="false"
          [showRating]="false"
          [imgSize]="200"
        />
      }
    </button>
  } @empty {
    <div class="empty-program">
      <mat-icon>location_off</mat-icon>
      <p class="mat-body-medium m-0" i18n="@@event_program.no_mapped_locations">
        No mapped program locations for this day.
      </p>
    </div>
  }
</div>
