@if(media() && media().length > 0) {
<div class="media-preview-grid" cdkDropListGroup>
  @for(mediaSrc of mediaSources(); track $index) {
  <div
    class="grid-drop-list"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="$index"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      cdkDrag
      class="drag-element"
      [class.is-reported]="media()[$index].isReported"
    >
      <div class="tile-image">
        <!-- mediaSrc is safe and is a non-empty string -->
        <img class="tile-image rounded" [ngSrc]="mediaSrc" fill />
        @if(media()[$index].isReported) {
        <div class="reported-overlay">
          <mat-icon>visibility_off</mat-icon>
        </div>
        }
      </div>
      <!-- <button
        class="bl-fab"
        mat-icon-button
        aria-label="icon button with a trash icon"
        (click)="editMedia(index)"
      >
        <mat-icon>edit</mat-icon>
      </button> -->
      <button
        class="br-fab"
        color="warn"
        mat-icon-button
        aria-label="Report media"
        (click)="reportMedia($index)"
      >
        <mat-icon>flag</mat-icon>
      </button>
    </div>
  </div>
  }
</div>
}
