<app-community-landing-page
  class="d-block"
  [communityDataInput]="community()"
  [loading]="!!pendingCommunity()"
  [loadingTitle]="pendingCommunity()?.displayName ?? ''"
  [loadingTotalSpots]="pendingCommunity()?.totalSpots ?? 0"
  [loadingScope]="$safeNavigationMigration(pendingCommunity()?.scope)"
  [loadingCountryCode]="$safeNavigationMigration(pendingCommunity()?.countryCode)"
  [panelMode]="true"
  [openProgress]="openProgress()"
  [backLabel]="backLabel()"
  [backTypeLabel]="backTypeLabel()"
  (back)="back.emit()"
  (closePanel)="closePanel.emit()"
  (selectEvent)="selectEvent.emit($event)"
  (openCommunityPath)="openCommunityPath.emit($event)"
  (selectSpot)="selectSpot.emit($event)"
  (exploreCommunitySpots)="exploreCommunitySpots.emit($event)"
></app-community-landing-page>
