<app-spot-details
  class="d-block"
  [loading]="!!pendingSpot()"
  [loadingTitle]="pendingSpot()?.name ?? ''"
  [loadingSubtitle]="pendingSpot()?.locality ?? ''"
  [loadingImageSrc]="pendingSpot()?.imageSrc"
  [spot]="spot()"
  [(challenge)]="challenge"
  [border]="false"
  [dismissable]="true"
  [infoOnly]="false"
  [editable]="true"
  [isEditing]="isEditing()"
  [pendingVoteCount]="pendingVoteCount()"
  [mapQueryParams]="mapQueryParams()"
  [openProgress]="openProgress()"
  (isEditingChange)="isEditingChange.emit($event)"
  (dismiss)="dismiss.emit()"
  (addBoundsClick)="addBoundsClick.emit()"
  (focusClick)="focusClick.emit()"
  (saveClick)="saveClick.emit($event)"
></app-spot-details>
