<div
  #fabContainer
  class="fab-container"
  [class.labels-right]="buttonConfig()?.tooltipPosition === 'right'"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  @let config = buttonConfig();
  <button
    mat-fab
    type="button"
    [extended]="config?.mainButton?.isExtended ?? false"
    class="sd-toggler"
    [color]="config?.mainButton?.color || 'primary'"
    [matTooltipDisabled]="!config?.mainButton?.tooltip || !openOnHover()"
    [matTooltip]="config?.mainButton?.tooltip || ''"
    [matTooltipPosition]="
      config?.tooltipPosition || defaultTooltipPosition
    "
    (click)="onMainClick()"
  >
    <mat-icon
      [@mainFabButtonIconRotation]="{
        value: isOpen() ? 'open' : 'closed',
        params: { degrees: rotationDegrees() }
      }"
      >{{ config?.mainButton?.icon ?? "add" }}</mat-icon
    >
    @if (config?.mainButton?.isExtended) {
      {{ config?.mainButton?.label }}
    }
  </button>
  @if (isOpen()) {
    <div
      class="mini-fab-container"
      [@speedDialStagger]="{ value: config?.miniButtons?.length || 0 }"
    >
      @for (
        miniBtn of config?.miniButtons ?? [];
        track miniBtn.icon + (miniBtn.label ?? miniBtn.tooltip ?? "")
      ) {
        <div class="mini-fab-action">
          @if (miniBtn.label || miniBtn.tooltip) {
            <span class="mini-fab-label mat-label-large">
              {{ miniBtn.label ?? miniBtn.tooltip }}
            </span>
          }
          <button
            mat-mini-fab
            type="button"
            class="mini-fab"
            [color]="config?.miniButtonColor || 'accent'"
            [matTooltip]="miniBtn.tooltip"
            [matTooltipPosition]="config?.tooltipPosition || 'left'"
            [attr.aria-label]="
              miniBtn.ariaLabel ??
              miniBtn.label ??
              miniBtn.tooltip ??
              miniBtn.icon
            "
            (click)="miniButtonClick($index)"
          >
            <mat-icon>{{ miniBtn.icon }}</mat-icon>
          </button>
        </div>
      }
    </div>
  }
</div>
