<div class="kml-import-page-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 pt-5 pb-3">
        <h1 class="mat-headline-4 text-center" i18n>
          Spot Import from KML / KMZ
        </h1>
        <p class="mat-body" i18n>
          Here you can upload KML or KMZ files to transfer spots to PK Spot for
          free. Anyone can then see, share and review the uploaded spots.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-horizontal-stepper
          [linear]="true"
          #stepperHorizontal
          color="primary"
        >
          <!-- Icon overrides -->
          <ng-template matStepperIcon="select">
            <mat-icon>description</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="setup">
            <mat-icon>settings</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="import">
            <mat-icon>add</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="verify">
            <mat-icon>where_to_vote</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="save">
            <mat-icon>publish</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="done">
            <mat-icon>done</mat-icon>
          </ng-template>

          <!-- Steps -->
          <!-- Select step -->
          <mat-step [stepControl]="uploadFormGroup!" state="select">
            <ng-template matStepLabel>
              @if(responsive.isDesktop()) {<span>Select</span>
              }
            </ng-template>
            <form class="pt-3 px-3" [formGroup]="uploadFormGroup!">
              <h3 class="mat-h3">Please select a KML file.</h3>
              <app-media-upload
                acceptString=".kml, .xml, .kmz"
                [required]="true"
                [uploadToStorage]="false"
                (fileSelected)="onUploadMediaSelect($event)"
              ></app-media-upload>
              <div class="mt-5">
                <button
                  mat-raised-button
                  color="accent"
                  class="float-right"
                  [disabled]="!kmlUploadFile"
                  (click)="continueToSetup()"
                >
                  Continue to setup
                </button>
              </div>
            </form>
          </mat-step>

          <!-- Setup step -->
          <mat-step [stepControl]="setupFormGroup!" state="setup">
            <br />
            <ng-template matStepLabel>
              @if(responsive.isDesktop()) {<span>Import Setup</span>
              }
            </ng-template>

            <div class="step-content">
              <p class="mat-body-1">
                Review the folders and their content. Select which folders to
                import.
              </p>

              <form [formGroup]="setupFormGroup!" class="setup-form">
                <mat-accordion multi>
                  @for(folder of kmlParserService.setupInfo?.folders; track
                  $index) {
                  <div class="folder-row d-flex align-items-center mb-2">
                    <mat-checkbox
                      class="flex-grow-1"
                      [(ngModel)]="folder.import"
                      [ngModelOptions]="{ standalone: true }"
                    >
                      {{ folder.name }} ({{ folder.spotCount }} spots)
                    </mat-checkbox>

                    <mat-form-field
                      appearance="outline"
                      subscriptSizing="dynamic"
                      class="ml-3"
                      style="width: 200px"
                    >
                      <mat-label>Type</mat-label>
                      <mat-select [(value)]="folder.type">
                        @for(type of SpotTypes | keyvalue; track type) {
                        <mat-option [value]="type.value">
                          <div class="d-flex align-items-center">
                            <mat-icon class="mr-2">{{
                              spotTypesIcons[type.value]
                            }}</mat-icon>
                            {{ spotTypesNames[type.value] }}
                          </div>
                        </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  }
                </mat-accordion>

                <div class="setup-inputs mt-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Language</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="setupLangCtrl"
                      [matAutocomplete]="auto"
                    />
                    <mat-autocomplete
                      #auto="matAutocomplete"
                      [displayWith]="displayFn"
                    >
                      @for(lang of filteredLanguages | async; track lang) {
                      <mat-option [value]="lang">
                        <span>{{ languages[lang].emoji }} </span
                        >{{ languages[lang].name_native }}
                      </mat-option>
                      }
                    </mat-autocomplete>
                    <mat-hint>Language of the imported spots</mat-hint>
                  </mat-form-field>

                  <mat-expansion-panel
                    class="regex-panel mt-3"
                    (opened)="setRegexEnabled(true)"
                    (closed)="setRegexEnabled(false)"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-slide-toggle
                          [checked]="regexEnabled"
                          (click)="$event.stopPropagation()"
                          (change)="setRegexEnabled($event.checked)"
                        >
                          Use Regex
                        </mat-slide-toggle>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-regex-input
                      (valueChange)="updateRegex($any($event))"
                    ></app-regex-input>
                    <mat-hint
                      >Advanced: Use Regex to extract spot names from the KML
                      description or name field.</mat-hint
                    >
                  </mat-expansion-panel>
                </div>
              </form>

              <div class="actions mt-3 d-flex justify-content-between">
                <button mat-button matStepperPrevious>Back</button>
                <button
                  mat-flat-button
                  color="primary"
                  [disabled]="setupFormGroup!.invalid"
                  (click)="continueToVerification()"
                >
                  Next
                </button>
              </div>
            </div>
          </mat-step>

          <mat-step state="verify">
            <ng-template matStepLabel>
              @if(responsive.isDesktop()) {<span>Verify</span>
              }
            </ng-template>
            <div class="step-content full-width">
              <div class="verification-container row">
                <div
                  class="col-md-4 spots-list"
                  style="max-height: 500px; overflow-y: auto"
                >
                  <h3 class="h5 mb-3">
                    Spots to Import ({{ spotsToImport().length }})
                  </h3>
                  <div class="list-group">
                    @for(spot of spotsToImport(); track spot; let i = $index) {
                    <button
                      mat-button
                      class="list-group-item list-group-item-action"
                      [class.active]="spot === selectedSpot()"
                      (click)="selectedSpot.set(spot)"
                    >
                      <div class="d-flex align-items-center w-100">
                        <mat-icon class="mr-3">{{
                          spotTypesIcons[getSpotType(spot)]
                        }}</mat-icon>
                        <div class="text-truncate">
                          <div class="spot-name font-weight-bold">
                            {{ spot.spot.name }}
                          </div>
                          <small class="spot-folder text-muted">{{
                            spot.folder
                          }}</small>
                        </div>
                      </div>
                    </button>
                    }
                  </div>
                </div>
                <div class="col-md-8 map-preview">
                  @if(selectedVerificationSpot()) {
                  <div class="card h-100">
                    <div class="card-body p-0 h-100 position-relative">
                      <app-spot-map
                        #spotMap
                        [spots]="[]"
                        [selectedSpot]="selectedVerificationSpot()"
                        [isEditing]="true"
                        [priorityMarkers]="getSpotMarkers(spotsToImport())"
                        [boundRestriction]="importedSpotsBounds()"
                        [polygons]="polygons()"
                        class="w-100 h-100 d-block"
                      ></app-spot-map>
                    </div>
                  </div>
                  } @else {
                  <div
                    class="d-flex justify-content-center align-items-center h-100 bg-light"
                  >
                    <p class="text-muted">Select a spot to preview</p>
                  </div>
                  }
                </div>
              </div>

              <div class="actions mt-4 d-flex justify-content-between">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="primary" (click)="importSpots()">
                  Import {{ spotsToImport().length }} Spots
                </button>
              </div>
            </div>
          </mat-step>
          <mat-step [editable]="false" state="save">
            <ng-template matStepLabel>
              @if(responsive.isDesktop()) {<span>Save</span>
              }
            </ng-template>
            <div
              class="d-flex flex-column justify-content-center align-items-center p-5"
            >
              <mat-spinner diameter="40"></mat-spinner>
              <p class="mt-3">Importing spots...</p>
            </div>
          </mat-step>
          <mat-step [editable]="false" state="done">
            <ng-template matStepLabel>
              @if(responsive.isDesktop()) {<span>Done</span>
              }
            </ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepperHorizontal.reset()">
                Reset
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>
