@if(showFilterOptions()) {
<div class="d-flex flex-row gap-2 pb-3 overflow-x-hidden">
  <app-chip-select
    icon="tune"
    label="Type"
    [options]="challengeLabels"
    [optionNames]="challengeLabelNames"
    [optionIcons]="challengeLabelIcons"
    [formCtrl]="labelCtrl!"
    allLabel="All Types"
    i18n-allLabel="@@challenge-list.all-label"
  ></app-chip-select>

  <app-chip-select
    icon="tune"
    label="Participants"
    [options]="challengeParticipantTypes"
    [optionNames]="challengeParticipantTypeNames"
    [optionIcons]="challengeParticipantTypeIcons"
    [formCtrl]="participantTypeCtrl!"
    allLabel="All Participants"
    i18n-allLabel="@@challenge-list.all-label"
  ></app-chip-select>
</div>
}

<div class="challenge-preview-grid pb-3 pt-1">
  @for (challenge of filteredChallenges(); track challenge.id; let i = $index) {
  @if(withHrefLink()) {
  <a
    class="d-flex flex-column overflow-hidden challenge-card"
    matRipple
    [routerLink]="[
      '/map',
      challenge.spot?.slug ??
        challenge.spot?.id ??
        spot()?.slug ??
        spot()?.id ??
        '',
      'c',
      challenge.id
    ]"
  >
    <div
      class="rounded w-100 overflow-hidden position-relative"
      style="aspect-ratio: 1; background-color: #2c2d31"
    >
      <img
        [ngSrc]="challenge.media()!.getPreviewImageSrc()"
        fill
        class="w-100 h-100"
        style="object-fit: cover"
      />
      @if(challenge.label || challenge.participantType || showIndexAsNumber()) {
      <div
        class="position-absolute d-flex flex-row"
        style="
          bottom: 4px;
          left: 4px;
          background-color: inherit;
          border-radius: 10px;
          padding: 4px;
          gap: 2px;
          opacity: 0.9;
        "
      >
        @if(showIndexAsNumber()) {
        <div
          class="mat-title-small d-flex justify-content-center align-items-center"
          style="
            border: solid 2px;
            border-radius: 13px;
            height: 26px;
            min-width: 26px;
            padding: 5px;
          "
        >
          {{
            getChallengeDisplayNumber(
              challenge,
              filteredChallenges().indexOf(challenge)
            )
          }}
        </div>
        } @if(challenge.label) {
        <mat-icon>
          {{ challengeLabelIcons[challenge.label] }}
        </mat-icon>
        } @if(challenge.participantType) {
        <mat-icon>
          {{ challengeParticipantTypeIcons[challenge.participantType] }}
        </mat-icon>
        }
      </div>
      }
    </div>
    <span class="mat-title-small pt-1 text-truncate">{{
      challenge.name()
    }}</span>
  </a>
  } @else {
  <div
    class="d-flex flex-column overflow-hidden challenge-card"
    matRipple
    (click)="onChallengeClick(getOriginalIndex(challenge))"
    style="cursor: pointer"
  >
    <div
      class="rounded w-100 overflow-hidden position-relative"
      style="aspect-ratio: 1; background-color: #2c2d31"
    >
      <img
        [ngSrc]="challenge.media()!.getPreviewImageSrc()"
        fill
        class="w-100 h-100"
        style="object-fit: cover"
      />
      @if(challenge.label || challenge.participantType || showIndexAsNumber()) {
      <div
        class="position-absolute d-flex flex-row"
        style="
          bottom: 4px;
          left: 4px;
          background-color: inherit;
          border-radius: 10px;
          padding: 4px;
          gap: 2px;
          opacity: 0.9;
        "
      >
        @if(showIndexAsNumber()) {
        <div
          class="mat-title-small d-flex justify-content-center align-items-center"
          style="
            border: solid 2px;
            border-radius: 13px;
            height: 26px;
            min-width: 26px;
            padding: 5px;
          "
        >
          {{
            getChallengeDisplayNumber(
              challenge,
              filteredChallenges().indexOf(challenge)
            )
          }}
        </div>
        } @if(challenge.label) {
        <mat-icon>
          {{ challengeLabelIcons[challenge.label] }}
        </mat-icon>
        } @if(challenge.participantType) {
        <mat-icon>
          {{ challengeParticipantTypeIcons[challenge.participantType] }}
        </mat-icon>
        }
      </div>
      }
    </div>
    <span class="mat-title-small pt-1 text-truncate">{{
      challenge.name()
    }}</span>
  </div>
  } } @empty {
  <p class="mat-body-medium">No challenges!</p>
  }
</div>
