:host {
  display: block;
  height: 100%;
  width: 100%;
}

.challenge-preview-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  // This will create as many columns of at least 100px as will fit, up to as many as possible
  // and will automatically reduce to 2 columns if 3 don't fit
}

.challenge-card {
  padding: 5px;
  margin: -5px;
  border-radius: calc(0.375rem + 5px);
  transition: filter 0.2s ease-in-out, background-color 0.2 ease-in-out;
  filter: brightness(1);
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  img {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
  }
}
.challenge-card:hover {
  transition: filter 0.2s ease-in-out, background-color 0.2 ease-in-out;
  filter: brightness(1.2);
  background-color: #1f1f23;

  img {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1);
  }
}
