@if(filterOptions()) {
<!-- <mat-chip-set
  class="d-flex flex-row gap-2 w-100 justify-content-start align-items-center"
>
  <mat-chip matMenuTriggerFor="">
    Type
    <mat-icon style="margin-left: -2px; margin-right: -8px"
      >arrow_drop_down</mat-icon
    >
  </mat-chip>
  <mat-chip>
    Participants
    <mat-icon style="margin-left: -2px; margin-right: -8px"
      >arrow_drop_down</mat-icon
    >
  </mat-chip>
</mat-chip-set> -->
<div class="d-flex flex-row gap-2">
  <mat-form-field appearance="outline" class="flex-grow-1">
    <mat-label i18n="challenge type label title">Type</mat-label>
    <mat-select [formControl]="labelCtrl" multiple>
      <mat-select-trigger>
        @if (labelCtrl.value?.length === challengeLabels.length) {
        <span i18n="all challenge types">All Types</span>
        } @else {
        {{labelCtrl.value?.[0] ? challengeLabelNames[labelCtrl.value![0]] : ''}}
        @if ((labelCtrl.value?.length || 0) > 1) {
        <span class="example-additional-selection" i18n>
          (+{{ (labelCtrl.value?.length || 0) - 1 }}
          {{ labelCtrl.value?.length === 2 ? "other" : "others" }})
        </span>
        } }
      </mat-select-trigger>
      @for (label of challengeLabels; track label) {
      <mat-option [value]="label">{{ challengeLabelNames[label] }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="flex-grow-1">
    <mat-label i18n="challenge participant type title">Participants</mat-label>
    <mat-select [formControl]="participantTypeCtrl" multiple>
      <mat-select-trigger>
        @if (participantTypeCtrl.value?.length ===
        challengeParticipantTypes.length) {
        <span i18n="all participant types">All Participants</span>
        } @else {
        {{participantTypeCtrl.value?.[0] ? challengeParticipantTypeNames[participantTypeCtrl.value![0]] : ''}}
        @if ((participantTypeCtrl.value?.length || 0) > 1) {
        <span class="example-additional-selection" i18n>
          (+{{ (participantTypeCtrl.value?.length || 0) - 1 }}
          {{ participantTypeCtrl.value?.length === 2 ? "other" : "others" }})
        </span>
        } }
      </mat-select-trigger>
      @for (participantType of challengeParticipantTypes; track participantType)
      {
      <mat-option [value]="participantType">{{
        challengeParticipantTypeNames[participantType]
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

}
<div class="challenge-preview-grid pb-3 pt-1">
  @for(challenge of filteredChallenges(); track challenge) {
  <a
    class="d-flex flex-column overflow-hidden challenge-card"
    matRipple
    [routerLink]="[
      '/map',
      challenge.spot?.slug ??
        challenge.spot?.id ??
        spot()?.slug ??
        spot()?.id ??
        '',
      'c',
      challenge.id
    ]"
  >
    <div
      class="rounded w-100 overflow-hidden position-relative"
      style="aspect-ratio: 1; background-color: #2c2d31"
    >
      <img
        [ngSrc]="challenge.media()!.getPreviewImageSrc()"
        fill
        class="w-100 h-100"
        style="object-fit: cover"
      />
      @if(challenge.label || challenge.participantType) {
      <div
        class="position-absolute d-flex flex-row"
        style="
          bottom: 4px;
          left: 4px;
          background-color: inherit;
          border-radius: 10px;
          padding: 4px;
          gap: 2px;
          opacity: 0.9;
        "
      >
        @if(challenge.label) {
        <mat-icon>
          {{ challengeLabelIcons[challenge.label] }}
        </mat-icon>
        } @if(challenge.participantType) {
        <mat-icon>
          {{ challengeParticipantTypeIcons[challenge.participantType] }}
        </mat-icon>
        }
      </div>
      }
    </div>
    <span class="mat-title-small pt-1 text-truncate">{{
      challenge.name()
    }}</span>
  </a>
  } @empty {
  <p class="mat-body-medium">No challenges!</p>
  }
</div>
