@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  .pin-primary {
    > div {
      border-color: var(--mat-sys-primary);
      background-color: var(--mat-sys-primary-container);
      color: var(--mat-sys-on-primary-container);
    }
    > svg {
      fill: var(--mat-sys-primary);
    }
  }
  .pin-secondary {
    > div {
      border-color: var(--mat-sys-secondary);
      background-color: var(--mat-sys-secondary-container);
      color: var(--mat-sys-on-secondary-container);
    }
    > svg {
      fill: var(--mat-sys-secondary);
    }
  }
  .pin-tertiary {
    > div {
      border-color: #ffd7f4; // var(--mat-sys-on-tertiary-container);
      background-color: #5c3d56; // var(--mat-sys-tertiary-container);
      color: #ffd7f4;
    }
    > svg {
      fill: #ffd7f4;
    }
  }
  .pin-gray {
    > div {
      border-color: #d0d0d0; // var(--mat-sys-on-tertiary-container);
      background-color: #313131; // var(--mat-sys-tertiary-container);
      color: #d0d0d0;
    }
    > svg {
      fill: #d0d0d0;
    }
  }
  .pin-iconic {
    > div {
      border-color: white;
      background-color: #eaab0a;
      color: white;
    }
    > svg {
      fill: white;
    }
  }

  // .marker-primary-light {
  //   @extend .marker !optional;
  //   background-color: #0037b9;
  //   border-color: mat.get-theme-color($theme, primary);
  // }

  .marker-primary-dark {
    @extend .marker !optional;
    background-color: mat.get-theme-color($theme, primary);
    border-color: #0037b9;
  }

  .marker-secondary-dark {
    @extend .marker !optional;
    background-color: #a7f690;
  }
  .marker-tertiary-dark {
    @extend .marker !optional;
    background-color: #ffd7f4;
  }
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
