@use "@angular/material" as mat;

@mixin color($theme) {
  .pin-primary {
    > div {
      border-color: var(--mat-sys-primary);
      background-color: var(--mat-sys-primary-container);
      color: var(--mat-sys-on-primary-container);
    }
    > svg {
      fill: var(--mat-sys-primary);
    }
  }
  .pin-secondary {
    > div {
      border-color: var(--mat-sys-secondary);
      background-color: var(--mat-sys-secondary-container);
      color: var(--mat-sys-on-secondary-container);
    }
    > svg {
      fill: var(--mat-sys-secondary);
    }
  }
  .pin-tertiary {
    > div {
      border-color: mat.get-theme-color($theme, on-tertiary-container);
      background-color: mat.get-theme-color($theme, tertiary-container);
      color: mat.get-theme-color($theme, on-tertiary-container);
    }
    > svg {
      fill: mat.get-theme-color($theme, on-tertiary-container);
    }
  }
  .pin-gray {
    > div {
      border-color: var(--mat-sys-outline);
      background-color: var(--mat-sys-surface-container-highest);
      color: var(--mat-sys-on-surface-variant);
    }
    > svg {
      fill: var(--mat-sys-outline);
    }
  }
  .pin-iconic {
    > div {
      border-color: var(--mat-sys-on-tertiary);
      background-color: var(--mat-sys-tertiary);
      color: var(--mat-sys-on-tertiary);
    }
    > svg {
      fill: var(--mat-sys-on-tertiary);
    }
  }

  .marker-primary-dark {
    @extend .marker !optional;
    background-color: mat.get-theme-color($theme, primary);
    border-color: var(--mat-sys-primary-container);
  }

  .marker-secondary-dark {
    @extend .marker !optional;
    background-color: var(--mat-sys-on-secondary-container);
  }
  .marker-tertiary-dark {
    @extend .marker !optional;
    background-color: mat.get-theme-color($theme, on-tertiary-container);
  }
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
