@let currentPost = post();

@if(currentPost) {
<mat-card
  class="text-left border rounded"
  [class.mat-elevation-z0]="!showCard()"
>
  <mat-card-header>
    <mat-card-title>{{ currentPost.title }}</mat-card-title>
    <mat-card-subtitle>
      <span>
        <a routerLink="/u/{{ currentPost.user?.uid }}">{{
          currentPost.user?.display_name || "A Traceur"
        }}</a>
      </span>
      <span>{{ timeAgoString() }}</span></mat-card-subtitle
    >
  </mat-card-header>

  <!-- Media display -->
  @if(currentPost.mediaSrc) {
  <div #matCardMedia id="matCardMedia" class="mat-card-media">
    <!-- (resized)="onResized($event)" -->
    @if(currentPost.mediaIsImage) {
    <img [src]="currentPost.mediaSrc" [alt]="currentPost.title + ' Image'" />
    } @else {
    <vg-player #videoPlayer class="mat-card-video fill">
      <!-- <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
        <source [src]="currentPost.mediaSrc" type="video/mp4" />
      </video> -->
    </vg-player>
    } @if(false) {
    <div class="youtube-video-container">
      <!-- TODO ng optimized image -->
      <iframe
        title="YouTube Embed"
        src="https://www.youtube.com/embed/Z6ri_jm0bYA"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    }
  </div>
  }

  <!-- Location display -->
  @if(currentPost.location) {
  <span class="location-text">
    <a
      [routerLink]="
        '/map?lat=' +
        currentPost.location.lat +
        '&lng=' +
        currentPost.location.lng +
        '&z=19'
      "
      >{{ locationDisplayCoordinates() }}</a
    >
  </span>
  }

  <!-- Spot display -->
  @if(currentPost.spot &&
  (currentPost.spot.ref || currentPost.spot.spot_location)) {
  <a
    class="spot-container-link"
    [routerLink]="
      currentPost.spot.ref
        ? '/map/spots/' + currentPost.spot.ref.id
        : '/map?lat=' +
          currentPost.spot.spot_location.latitude +
          '&lng=' +
          currentPost.spot.spot_location.longitude +
          '&z=19'
    "
  >
    <div class="spot-container border rounded">
      <div class="spot-container-image">
        <img [src]="currentPost.spot.image_src" alt="" />
      </div>

      <div class="spot-container-text">
        <h5>{{ currentPost.spot.name }}</h5>
        <span>{{ spotDisplayCoordinates() }}</span>
      </div>
    </div>
  </a>
  }

  <mat-card-content class="text-left">{{ currentPost.body }}</mat-card-content>
  <mat-card-actions>
    <div class="mr-2">
      <button mat-icon-button (click)="likeButtonPress()">
        <mat-icon [color]="likedByUser() ? 'primary' : ''"> thumb_up </mat-icon>
      </button>
      <strong class="mat-b"
        ><app-fancy-counter
          [number]="currentPost.likeCount || 0"
        ></app-fancy-counter
      ></strong>
    </div>

    @if(false) {
    <div class="mr-2">
      <button mat-icon-button>
        <mat-icon>comment</mat-icon>
      </button>
      <span>{{ 0 }}</span>
    </div>
    } @if(false) {
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
    }

    <div class="spacer"></div>

    <button mat-icon-button [matMenuTriggerFor]="postMenu">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
}

<mat-menu #postMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>info</mat-icon>
    <span>More Information</span>
  </button>
  @if(currentPost?.location || currentPost?.spot) {
  <button mat-menu-item routerLink="/map">
    <mat-icon>place</mat-icon>
    <span>Open on Map</span>
  </button>
  } @if( currentlyAuthenticatedUserId() && currentPost?.user?.uid !==
  currentlyAuthenticatedUserId() ) {
  <button mat-menu-item>
    <mat-icon>report</mat-icon>
    <span i18n>Report post</span>
  </button>
  } @if( currentlyAuthenticatedUserId() && currentPost?.user?.uid ===
  currentlyAuthenticatedUserId() ) {
  <button mat-menu-item (click)="deletePost()" color="warn">
    <mat-icon>delete</mat-icon>
    <span>Delete post</span>
  </button>
  }
</mat-menu>
