@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  div.info-panel,
  div.drawer-container {
    // background-color: mat.get-theme-color($theme, surface-container-low);
  }

  :root,
  body,
  html {
    --swiper-theme-color: mat.get-theme-color($theme, primary) !important;
    // --mat-app-background-color: mat.get-theme-color(
    //   $theme,
    //   surface-container-lowest
    // );
    background-color: #0e0e11; // background-color: mat.get-theme-color($theme, surface-container-lowest);
  }

  // body,
  // html {
  //   // background-color: mat.get-theme-color($theme, surface-container-low);
  //   body {
  //     // background: mat.get-theme-color($theme, surface-container-lowest);
  //     // color: var(--mat-sys-on-surface);
  //   }
  // }

  .mat-mdc-dialog-surface {
    background-color: mat.get-theme-color($theme, surface-container-high);
  }

  .mat-mdc-menu-panel {
    background-color: mat.get-theme-color($theme, surface-container-highest);
  }
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
