@if (selectedChallenge()) {
  <a
    mat-button
    [routerLink]="['/map', spotSlugOrId(), showAllChallenges() ? 'c' : '']"
    [queryParams]="mapQueryParams()"
    queryParamsHandling="merge"
    class="text-truncate"
  >
    <mat-icon>arrow_back_ios</mat-icon>
    <span class="d-flex flex-row gap-2 align-items-center">
      <span>
        @if (showAllChallenges()) {
          <span i18n>All Challenges of </span>{{ spotName() }}
        }
      </span>
      <span i18n class="mat-label-small px-1 border rounded me-1">Spot</span>
    </span>
  </a>
  <app-challenge-detail
    class="d-block"
    [(challenge)]="selectedChallenge"
    [(isEditing)]="isEditing"
  ></app-challenge-detail>
} @else if (showAllChallenges()) {
  <div class="px-2">
    <a
      mat-button
      [routerLink]="['/map', 'spots', spotSlugOrId()]"
      [queryParams]="mapQueryParams()"
      queryParamsHandling="merge"
      class="text-truncate"
    >
      <mat-icon>arrow_back_ios</mat-icon>
      <span class="d-flex flex-row align-items-center gap-2">
        <span>{{ spotName() }}</span>
        <span i18n class="mat-label-small px-1 border rounded me-1">Spot</span>
      </span>
    </a>
  </div>

  <div class="px-3 d-flex flex-column gap-2">
    <h4 class="mat-title-medium mt-2" i18n>
      All Challenges of {{ spotName() }}
    </h4>
    <app-challenge-list
      class="w-100"
      [challenges]="allSpotChallenges()"
      [showFilterOptions]="true"
    ></app-challenge-list>
  </div>
}
