<h2 mat-dialog-title i18n>Add new challange</h2>
<mat-dialog-content>
  <!-- Spot -->
  <div class="pb-4">
    <h3 class="mat-title-medium" i18n>Spot</h3>
    <div class="d-flex flex-row gap-2 w-100 align-items-center">
      <app-spot-preview-card
        class="flex-grow-1"
        [spot]="data.spot"
        [isCompact]="true"
      ></app-spot-preview-card>
      <button mat-icon-button><mat-icon>edit</mat-icon></button>
    </div>
  </div>

  <!-- Name -->
  <div class="pb-4">
    <h3 class="mat-title-medium" i18n>Challenge name</h3>

    <app-locale-map-edit-field
      cdkFocusInitial
      [localeMap]="data.challenge?.name ?? {}"
    ></app-locale-map-edit-field>
  </div>

  <!-- Media -->
  <div class="pb-4">
    <h3 class="mat-title-medium" i18n>Media</h3>
    <app-media-upload
      class="d-flex"
      [allowedMimeTypes]="['image/png', 'image/jpeg', 'image/jpg', 'video/mp4']"
      [multipleAllowed]="false"
      [storageFolder]="challangeStorageFolder"
    ></app-media-upload>
  </div>

  <!-- Description -->
  <div class="pb-4">
    <h3 class="mat-title-medium" i18n>Description</h3>
    <app-locale-map-edit-field
      [localeMap]="data.challenge?.description ?? {}"
      [isTextArea]="true"
    ></app-locale-map-edit-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between p-3">
  <button mat-button (click)="onNoClick()" i18n="cancel button label">
    Cancel
  </button>
  <button
    mat-flat-button
    [mat-dialog-close]="data"
    color="primary"
    (click)="saveChallenge()"
    i18n="report button label|"
  >
    Save
  </button>
</mat-dialog-actions>
