<div class="px-3">
  @if(challenge()) {
  <div class="d-flex flex-column gap-2">
    <div class="pb-2">
      @if(spot()) {
      <button mat-button (click)="backToSpot()">
        <mat-icon>arrow_back_ios</mat-icon>
        <span class="d-flex flex-row gap-2 align-items-center">
          {{ spot()!.name() }}
          <span i18n class="mat-label-small px-1 border rounded me-1"
            >Spot</span
          >
        </span>
      </button>
      }
    </div>
    @if(!isEditing()) {
    <div class="d-flex flex-column pb-2">
      <div
        class="d-flex flex-row justify-content-between align-items-center pb-2"
      >
        <div class="d-flex flex-row gap-3 align-items-center">
          <h3 class="mat-title-large mb-0">
            {{ challenge()?.name() }}
          </h3>
          <span i18n class="mat-label-small px-1 border rounded me-1"
            >Challenge</span
          >
        </div>
        <button mat-icon-button (click)="shareChallenge()">
          <mat-icon>share</mat-icon>
        </button>
      </div>

      <mat-chip-set
        class="d-flex flex-row gap-2 w-100 justify-content-start align-items-center"
      >
        @if(challenge()!.label) {
        <mat-chip [matTooltip]="challengeLabelTooltips[challenge()!.label!]">
          <mat-icon matChipAvatar>{{
            challengeLabelIcons[challenge()!.label!]
          }}</mat-icon>
          {{ challengeLabelNames[challenge()!.label!] }}
        </mat-chip>
        } @if(challenge()!.participantType) {
        <mat-chip>
          <mat-icon matChipAvatar>{{
            challengeParticipantTypeIcons[challenge()!.participantType!]
          }}</mat-icon>
          {{ challengeParticipantTypeNames[challenge()!.participantType!] }}
        </mat-chip>
        } @if(challenge()!.isBeginnerFriendly) {
        <mat-chip>
          <mat-icon matChipAvatar>interests</mat-icon>
          <span i18n>Beginner friendly</span>
        </mat-chip>
        } @if(challenge()!.isWaterChallenge) {
        <mat-chip>
          <mat-icon matChipAvatar>water</mat-icon>
          <span i18n>Water challenge</span>
        </mat-chip>
        }
      </mat-chip-set>
    </div>

    <!-- Release Date -->
    @if(challenge()!.releaseDate) {
    <div class="mb-2 p-2 border rounded">
      <p class="m-0 mat-title-small d-flex flex-row pb-2 gap-2">
        <mat-icon>lock</mat-icon
        ><span i18n class="pt-1">This challenge is still private to you!</span>
      </p>
      <p class="mat-body-medium mb-0" i18n>
        This challenge will be released on
        {{ challenge()!.releaseDate?.toLocaleDateString() }}, at
        {{ challenge()!.releaseDate?.toLocaleTimeString() }}.
      </p>
    </div>
    }

    <!-- Media -->
    <div class="pb-4">
      <!-- <h3 class="mat-title-small" i18n>Media</h3> -->
      <div class="media-container">
        @if(challenge()?.media()?.type === 'image') {
        <img
          class="media-image"
          [src]="challenge()!.media()!.getPreviewImageSrc()"
        />
        } @if(challenge()?.media()?.type === 'video') {
        <app-video [media]="videoMedia()"></app-video>
        }
      </div>
    </div>

    <!-- Description -->
    @if(hasDescription()) {
    <div class="pb-3">
      <app-locale-map-view
        title="Description"
        title-i18n="Challenge description label"
        [localeMap]="challenge()!.descriptionLocaleMap()"
      ></app-locale-map-view>
    </div>
    }

    <div class="pb-3 d-flex flex-row align-items-center gap-1">
      <span class="mat-title-small" i18n>Uploaded by: </span
      ><a
        mat-button
        [routerLink]="'/u/' + challenge()!.user.uid"
        class="p-2 pe-3"
      >
        @if(userPicture()) {
        <img
          class="rounded-circle"
          [ngSrc]="userPicture()!.getSrc(200)"
          height="24"
          width="24"
        />

        }
        {{ challenge()!.user.display_name }}
      </a>
    </div>

    <!-- Posts -->
    <!--<div class="pb-4">
    <h3 class="mat-title-medium" i18n>Posts</h3>
     @if(challenge()!.posts) {
    <app-locale-map-view
      title="Posts"
      title-i18n="Challenge posts label"
      [localeMap]="challenge()!.posts"
    ></app-locale-map-view>
    } 
  </div>-->

    <mat-divider></mat-divider>

    <div class="d-flex flex-row gap-2 align-items-center py-3">
      <button
        mat-stroked-button
        (click)="isEditing.set(true)"
        class="flex-grow-1"
      >
        <mat-icon>edit</mat-icon><span i18n>Edit</span></button
      ><button mat-stroked-button disabled class="flex-grow-1">
        <mat-icon>report</mat-icon><span i18n>Report</span>
      </button>
    </div>

    } @else {
    <div>
      @if(challenge()) {
      <!-- Spot -->
      <div class="pb-4">
        <h3 class="mat-title-medium" i18n>Spot</h3>
        <div class="d-flex flex-row gap-2 w-100 align-items-center">
          @if(spot()) {
          <app-spot-preview-card
            class="flex-grow-1"
            [spot]="spot()"
            [isCompact]="true"
          ></app-spot-preview-card
          >} @else {
          <p>select spot</p>
          }
          <button mat-icon-button><mat-icon>edit</mat-icon></button>
        </div>
      </div>

      <!-- Name -->
      <div class="pb-4">
        <h3 class="mat-title-medium" i18n>Challenge name</h3>

        <app-locale-map-edit-field
          cdkFocusInitial
          [(localeMap)]="challenge()!.nameLocaleMap"
        ></app-locale-map-edit-field>
      </div>

      <!-- Media -->
      <div class="pb-4">
        <h3 class="mat-title-medium" i18n>Media</h3>
        <app-media-upload
          class="d-flex"
          [allowedMimeTypes]="[
            'image/png',
            'image/jpeg',
            'image/jpg',
            'video/mp4',
            'video/quicktime'
          ]"
          [maximumSizeInBytes]="100 * 1024 * 1024"
          [multipleAllowed]="false"
          [storageFolder]="challengeStorageFolder"
          (newMedia)="onNewMedia($event)"
        ></app-media-upload>
      </div>

      <!-- Type and participant type-->
      <div class="pb-4">
        <h3 class="mat-title-medium" i18n>Label and particpant type</h3>
        <div class="d-flex flex-row gap-2">
          <mat-form-field appearance="outline">
            <mat-label i18n>Label</mat-label>
            <mat-select [(ngModel)]="challenge()!.label" name="label">
              @for (label of challengeLabels; track label) {
              <mat-option [value]="label"
                ><mat-icon>{{ challengeLabelIcons[label] }}</mat-icon>
                {{ challengeLabelNames[label] }}</mat-option
              >
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label i18n>Participant Type</mat-label>
            <mat-select
              [(ngModel)]="challenge()!.participantType"
              name="participantType"
            >
              @for (participantType of challengeParticipantTypes; track
              participantType) {
              <mat-option [value]="participantType">
                <mat-icon
                  >{{ challengeParticipantTypeIcons[participantType] }}
                </mat-icon>
                {{ challengeParticipantTypeNames[participantType] }}</mat-option
              >
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Description -->
      <div class="pb-4">
        <h3 class="mat-title-medium" i18n>Description</h3>
        <app-locale-map-edit-field
          [(localeMap)]="challenge()!.descriptionLocaleMap"
          [isTextArea]="true"
        ></app-locale-map-edit-field>
      </div>

      <div class="pb-4">
        <h3 class="mat-title-medium" i18n>
          Release Date
          <mat-slide-toggle
            class="ms-2"
            [checked]="challenge()!.releaseDate"
            color="primary"
            (change)="onReleaseDateToggleChange($event)"
          >
          </mat-slide-toggle>
        </h3>

        @if(challenge()!.releaseDate) {
        <p class="mat-body-small" i18n>
          The Challenge will only be available starting from the release date.
          Before that it will be private to you.
        </p>
        } @else {
        <p class="mat-body-small" i18n>
          The Challenge will be public right away after it is added.
        </p>
        }

        <div class="d-flex flex-row gap-2">
          <mat-form-field class="flex-basis-2" appearance="outline">
            <mat-label i18n>Date</mat-label>
            <input
              matInput
              [disabled]="!challenge()!.releaseDate"
              [matDatepicker]="datepicker"
              [(ngModel)]="challenge()!.releaseDate"
            />
            <mat-datepicker #datepicker />
            <mat-datepicker-toggle [for]="datepicker" matSuffix />
          </mat-form-field>

          <mat-form-field class="flex-basis-1" appearance="outline">
            <mat-label i18n>Time</mat-label>
            <input
              matInput
              [disabled]="!challenge()!.releaseDate"
              [matTimepicker]="timepicker"
              [(ngModel)]="challenge()!.releaseDate"
              [ngModelOptions]="{ updateOn: 'blur' }"
            />
            <mat-timepicker #timepicker />
            <mat-timepicker-toggle [for]="timepicker" matSuffix />
          </mat-form-field>
        </div>
      </div>

      }
      <div class="d-flex justify-content-between py-3">
        <button mat-button (click)="cancelEdit()">
          @if(!hasChanges) { <span i18n="cancel button label">Cancel</span> }
          @else {
          <span i18n>Discard</span>
          }
        </button>
        <button
          mat-flat-button
          color="primary"
          i18n="report button label|"
          (click)="saveChallenge()"
        >
          Save
        </button>
      </div>
    </div>
    }
  </div>
  }
</div>
