:host {
  display: contents;
}

.small-dot-marker {
  border-radius: 50%;
  opacity: 0.8;
}

.marker-primary-dark {
  background-color: var(--mat-sys-primary-container);
  border: 1px solid var(--mat-sys-primary);
  box-shadow: 0 0 4px var(--mat-sys-primary);
}

.marker-primary-light {
  background-color: var(--mat-sys-primary);
  border: 1px solid var(--mat-sys-primary-container);
  box-shadow: 0 0 4px var(--mat-sys-primary-container);
}
