<!-- <mat-progress-bar
  *ngIf="isSaving"
  color="accent"
  mode="indeterminate"
></mat-progress-bar> -->

<mat-card
  matRipple
  [matRippleDisabled]="!clickable"
  class="pt-0 bg-transparent"
  [class.border]="border"
  [class.clickable]="clickable"
  style="box-shadow: none"
>
  @if(spot()) {@if(!isEditing()) {
  <mat-card-header class="pb-2 px-3 d-flex flex-column-reverse">
    <mat-card-title class="d-flex align-items-center w-100 gap-1">
      <span
        class="flex-grow-1 w-100 overflow-hidden d-flex flex-row align-items-center gap-2"
      >
        @if(spot()?.isIconic) {
        <mat-icon
          style="width: 24px; flex-shrink: 0"
          matTooltip="Iconic Spot"
          i18n-matTootltip
          >stars</mat-icon
        >
        }
        <span [matTooltip]="spot()!.name()" class="text-truncate d-block">{{
          spot()!.name()
        }}</span>
      </span>

      <!-- dismiss button -->
      @if(dismissable) {
      <button
        mat-icon-button
        (click)="dismissed()"
        i18n-matTooltip
        matTooltip="Close Spot"
      >
        <mat-icon>close</mat-icon>
        <!-- <mat-icon>turn_right</mat-icon> -->
        <!-- <mat-icon>route</mat-icon> -->
        <!-- <mat-icon>share_location</mat-icon> -->
      </button>
      }
    </mat-card-title>
    <mat-card-subtitle class="d-flex flex-row justify-content-between">
      <div
        class="d-flex flex-column flex-grow-1 justify-content-center text-truncate"
      >
        <div class="d-flex flex-row gap-1 align-items-center pb-1">
          <span class="mat-label-small px-1 border rounded me-1">Spot</span>
          @if(spot()?.rating) {
          <app-spot-rating
            class="flex-shrink-0"
            [rating1to5]="spot()!.rating"
            [showNumReviews]="true"
            [numReviews]="spot()!.numReviews"
            [isCompact]="true"
          ></app-spot-rating
          >}
          {{
            spot()?.rating && spot()!.importantAmenitiesArray().length > 0
              ? "⸱"
              : null
          }}
          @if(spot()!.importantAmenitiesArray().length > 0) {
          <div class="d-flex flex-row gap-1 align-items-center">
            @for(amenity of spot()!.importantAmenitiesArray(); track amenity) {
            <mat-icon class="amenity-icon" [matTooltip]="amenity.name">{{
              amenity.icon
            }}</mat-icon>
            }
          </div>
          }
          {{
            (spot()?.rating || spot()!.importantAmenitiesArray().length > 0) &&
            spot()?.type() !== "other"
              ? "⸱"
              : null
          }}
          @if(spot()?.type() && spot()?.type()! !== 'other') {
          <span class="mat-label-large text-nowrap text-truncate">
            <!-- <mat-icon class="amenity-icon me-1">{{
              spotTypesIcons[spot()!.type()]
            }}</mat-icon
            > -->

            {{ spotTypeNames[spot()!.type()] }}</span
          >}
          {{
            (spot()?.rating ||
              spot()!.importantAmenitiesArray().length > 0 ||
              spot()?.type() !== "other") &&
            spot()?.access() !== "other"
              ? "⸱"
              : null
          }}
          @if(spot()?.access() && spot()?.access()! !== 'other') {
          <span class="mat-label-large text-nowrap text-truncate">
            <!-- <mat-icon class="amenity-icon me-1">{{
              spotAccessIcons[spot()!.access()]
            }}</mat-icon
            > -->

            {{ spotAccessNames[spot()!.access()] }}</span
          >}
        </div>

        @if(spot()?.address()) {
        <span class="text-truncate">{{ spot()!.localityString() }}</span>
        }
      </div>

      <!-- Icon buttons in header -->
      @if(!isEditing()) {
      <div class="spot-button-row">
        <!--@if(authenticationService.isSignedIn) {
        @if (!visited) {
         <button
          mat-icon-button
          color="accent"
          matTooltip="Bookmark this spot"
          aria-label="Icon button with a bookmark icon"
          (click)="bookmarked = !bookmarked; $event.stopPropagation()"
        >
          <mat-icon>{{ bookmarked ? "bookmark" : "bookmark_border" }}</mat-icon>
        </button>

        }
        <button
          mat-icon-button
          color="primary"
          matTooltip="Mark this spot as visited"
          aria-label="Icon button with a flag icon"
          (click)="
            visited = !visited; bookmarked = false; $event.stopPropagation()
          "
        >
          <mat-icon>beenhere</mat-icon>
        </button> 
        }
        -->

        @if(!isLocalSpot()) {
        <button
          mat-icon-button
          matTooltip="Share this spot"
          i18n-matTooltip="
            Share spot tooltip|The tootltip of the share spot icon
            button@@share_spot_tooltip"
          aria-label="Icon button with a share icon"
          i18n-aria-label="
            Share spot aria label|The aria label of the share spot icon
            button@@share_spot_aria_label"
          (click)="shareSpot(); $event.stopPropagation()"
        >
          <mat-icon>share</mat-icon>
        </button>
        }
        <button
          mat-icon-button
          matTooltip="Directions to spot"
          i18n-matTooltip="
            Directions spot tooltip|The tooltip of the directions spot icon
            button@@directions_spot_tooltip"
          aria-label="Icon button with a directions icon"
          i18n-aria-label="
            Spot directions aria label|The aria label of the directions spot
            icon button@@directions_spot_aria_label"
          (click)="openDirectionsInMaps()"
        >
          <mat-icon>directions</mat-icon>
          <!-- <mat-icon>turn_right</mat-icon> -->
          <!-- <mat-icon>route</mat-icon> -->
          <!-- <mat-icon>share_location</mat-icon> -->
        </button>
      </div>
      }
    </mat-card-subtitle>
  </mat-card-header>
  }
  <!-- if(!isEditing())  -->

  @if(report) {
  <div class="report-info">
    <span class="mat-h3 m-0" i18n
      >This spot was reported as "{{ report.reason }}"</span
    >
  </div>
  }
  <!-- @if(report) -->

  <mat-card-content>
    @if(!isEditing()) {
    <!-- spot media carousel  -->
    @if(spot()?.media() && spot()!.media().length > 0) {
    <app-img-carousel class="mb-2 mt-1" [media]="spot()?.media()">
    </app-img-carousel>
    }

    <h3 class="mat-title-medium" i18n>Details</h3>

    <!-- Google place -->
    @if(googlePlace()) {
    <h4 class="mat-title-small" i18n>This spot on Google Maps®</h4>
    <a
      [href]="googlePlace()!.url"
      target="_blank"
      rel="noopener noreferrer"
      style="text-decoration: none; color: inherit"
    >
      <mat-card
        matRipple
        class="mat-elevation-z0 clickable border rounded d-flex flex-row mb-4 overflow-hidden"
        style="height: 80px"
      >
        @if(googlePlace()!.photo_url) {
        <div mat-card-sm-image class="google-img-container">
          <img [ngSrc]="googlePlace()!.photo_url!" fill />
        </div>
        }
        <mat-card-header class="pb-2">
          <mat-card-title
            class="text-truncate mw-100 pt-2 mat-title-medium"
            style="font-size: 1.1rem"
          >
            {{ googlePlace()!.name }}
          </mat-card-title>
          <mat-card-subtitle i18n class="d-flex flex-row gap-2 mat-title-small">
            @if(googlePlace()!.rating) { Rating:
            <app-spot-rating
              [rating1to5]="googlePlace()!.rating!"
              [showEmptyStars]="false"
              [isCompact]="true"
            ></app-spot-rating>
            }

            <!-- <span class="text-truncate" style="flex-shrink: 1">
            {{ spotLocality }}
          </span> -->
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </a>
    }

    <!-- Freatures -->
    @if(spot()?.smartAmenitiesArray() && spot()!.smartAmenitiesArray().length >
    0) {
    <div class="mb-4">
      <h4
        i18n="amenities header|The header for the spot features and amenities"
        class="mat-title-small"
      >
        Features and amenities
      </h4>
      <mat-chip-set>
        @for(amenity of spot()!.smartAmenitiesArray(); track amenity) {
        <mat-chip [class.negative-amenity]="amenity.isNegative">
          <mat-icon matChipAvatar>{{ amenity.icon }}</mat-icon>
          {{ amenity.name }}
        </mat-chip>
        }
      </mat-chip-set>
    </div>
    }

    <!-- Spot Description -->
    @if(spot()?.description()) {
    <app-locale-map-view
      title="Description"
      i18n-title="description header|The header for the spot description"
      [localeMap]="spot()!.descriptions()"
    ></app-locale-map-view>
    }

    <!-- Type and Acccess -->
    @if(spot()?.type() !== 'other' || spot()!.access() !== 'other') {
    <div class="mb-4">
      <h4 class="mat-title-small">Spot Type and Access</h4>
      <div class="d-flex flex-row gap-2">
        <div
          class="d-flex flex-column justify-content-start align-items-start gap-2 p-2 flex-grow-1 flex-basis-0 border rounded"
        >
          <span class="mat-label-small px-1 border rounded">Spot Type</span>
          <h4 class="mat-title-medium m-0">
            <mat-icon class="me-2">{{
              spotTypesIcons[spot()!.type()]
            }}</mat-icon
            >{{ spotTypeNames[spot()!.type()] }}
          </h4>
          <p class="mat-body-small m-0">
            {{ spotTypeDescriptions[spot()!.type()] }}
          </p>
        </div>
        <div
          class="d-flex flex-column justify-content-start align-items-start gap-2 p-2 flex-grow-1 flex-basis-0 border rounded"
        >
          <span class="mat-label-small px-1 border rounded">Spot Access</span>
          <h4 class="mat-title-medium m-0">
            <mat-icon class="me-2">{{
              spotAccessIcons[spot()!.access()]
            }}</mat-icon
            >{{ spotAccessNames[spot()!.access()] }}
          </h4>
          <p class="mat-body-small m-0">
            {{ spotAccessDescriptions[spot()!.access()] }}
          </p>
        </div>
      </div>
    </div>
    }

    <!-- Spot Address or Location and action buttons -->
    <div class="d-flex justify-start mb-4 flex-column">
      @if(spot()?.address()?.formatted) {
      <h4
        class="mat-title-small"
        i18n="
          Address subtitle|The address subtitle in the spot
          details@@address_title"
      >
        Address
      </h4>
      <p class="mat-body-medium">{{ spot()!.address()?.formatted }}</p>
      } @else {
      <h4 class="mat-title-small" i18n>Location</h4>
      <p class="mat-body-medium">
        {{ spot()!.locationString() }}
      </p>
      }
      <div class="d-flex flex-column flex-xl-row gap-2">
        <button
          mat-stroked-button
          color="primary"
          class="flex-grow-1 flex-basis-0 py-2"
          i18n-matTooltip="
            Open in maps button tooltip|Tooltip of button to open the spot in
            maps@@open_maps_tooltip"
          matTooltip="Open the location of this spot in Maps"
          (click)="openSpotInMaps()"
        >
          <mat-icon>place</mat-icon>
          <span
            i18n="
              Open in maps button|Button to open the spot in
              maps@@open_maps_button_label"
            >Open in {{ isAppleMaps ? "Apple Maps" : "Google Maps" }}</span
          >
        </button>
        <button
          mat-stroked-button
          color="primary"
          class="flex-grow-1 flex-basis-0 py-2"
          i18n-matTootltip
          matTooltip="Navigate to this spot"
          (click)="openDirectionsInMaps()"
        >
          <mat-icon>directions</mat-icon>
          <span i18n="@@directions_spot_tooltip">Navigate to spot</span>
        </button>
      </div>
    </div>

    <!-- Action buttons -->
    @if(authenticationService.isSignedIn && editable) {
    <mat-divider></mat-divider>
    <div class="d-flex my-3 gap-2">
      <button
        mat-stroked-button
        i18n-matTooltip
        matTooltip="Edit this spot"
        i18n-aria-label
        aria-label="Edit button with a pencil icon"
        (click)="editButtonClick()"
        class="flex-grow-1 flex-basis-0"
      >
        <mat-icon>edit</mat-icon>
        <span i18n="Edit button label|Label of the button to edit the spot"
          >Edit Spot</span
        >
      </button>
      <button
        mat-stroked-button
        color="warn"
        i18n-matTooltip
        matTooltip="Report this spot"
        i18n-aria-label
        aria-label="Report button with a warning icon"
        class="flex-grow-1 flex-basis-0"
        (click)="openSpotReportDialog()"
      >
        <mat-icon>report</mat-icon>
        <span i18n="report button label|Label of the button to report the spot"
          >Report</span
        >
      </button>
    </div>
    <mat-divider class="mb-3"></mat-divider>
    }

    <!-- Ratings -->
    @if(!isLocalSpot() && (spot()?.rating || authenticationService.isSignedIn))
    {
    <div class="mb-4">
      <h4 class="mat-title-medium" i18n>Rating and user reviews</h4>
      @if(spot()!.rating) {
      <div class="d-flex flex-row align-items-center mb-3">
        <div
          class="d-flex flex-column align-items-center justify-content-center gap-1 pe-4"
        >
          <span class="mat-headline-large mb-0">{{
            spot()!.rating!.toFixed(1)
          }}</span>
          <app-spot-rating
            [rating1to5]="spot()!.rating"
            [showNumReviews]="false"
            [showRating]="false"
          ></app-spot-rating>
          @if(spot()?.numReviews) {
          <span class="mat-body-medium text-nowrap" i18n
            >{spot()!.numReviews, plural, =0 {no reviews} =1 {1 review} other
            {{{ spot()!.numReviews }} reviews}}</span
          >
          }
        </div>
        @if(spot()?.normalizedRatingHistogram()) {
        <div class="flex-grow-1 hist-grid-container">
          @for(item of spot()!.normalizedRatingHistogram() | keyvalue | reverse;
          track item) {
          <!-- row -->
          <div class="grid-item mat-label-medium">
            {{ item.key }}
          </div>
          <mat-progress-bar
            class="grid-item rounded"
            mode="determinate"
            [value]="100 * item.value"
            style="margin-top: -2px"
          ></mat-progress-bar>
          <div class="grid-item mat-label-medium">
            ({{ spot()!.ratingHistogram()[item.key | asRatingKey] }})
          </div>
          }
        </div>
        }
      </div>

      } @else {
      <p i18n class="mat-body-medium">
        This spot has no reviews yet, be the first to leave one!
      </p>
      }
      <!-- if(spot.rating) -->

      <!-- Spot review histogram -->
      <!-- // TODO review histogram -->

      @if(authenticationService.isSignedIn) {
      <!-- // TODO in the future also make sure the user visited the spot -->
      <button
        mat-stroked-button
        color="accent"
        i18n-matTooltip="
          Review this spot button tooltip|Tooltip of button to review the
          spot@@review_spot_tooltip"
        matTooltip="Review this spot"
        (click)="openSpotReviewDialog()"
      >
        <mat-icon>reviews</mat-icon>
        <span
          i18n="
            Review spot button label|Button to review the spot
            label@@review_spot_button_label"
          >Review spot</span
        >
      </button>
      }

      <mat-divider class="mt-3"></mat-divider>
    </div>
    }

    <!-- Spot Challenges -->
    @if(!isLocalSpot()) { @if(spot()!.topChallenges().length > 0 &&
    spotSlugOrId()) {
    <div class="pb-4">
      <h4 class="mat-title-medium mt-3" i18n>Challenges</h4>
      <app-challenge-list
        [challenges]="spot()!.topChallenges()"
        [spot]="notLocalSpotOrNull()"
      ></app-challenge-list>
      @if(spot()!.numChallenges() > spot()!.topChallenges().length) {
      <button mat-stroked-button (click)="showAllChallenges()">
        <mat-icon> read_more </mat-icon>
        <span i18n>View all challanges</span>
      </button>
      } @if(authenticationService.isSignedIn) {
      <button mat-stroked-button (click)="addChallenge()">
        <mat-icon>outlined_flag</mat-icon>
        <span i18n>Add challenge</span>
      </button>
      }
    </div>
    } @else { @if(authenticationService.isSignedIn) {
    <div class="mb-4 mt-2">
      <h4 class="mat-title-medium mt-3" i18n>Challenges</h4>
      <p class="mat-body-medium" i18n>
        There are no challenges for this spot yet.
      </p>

      <div class="d-flex gap-2">
        <button mat-stroked-button (click)="addChallenge()">
          <mat-icon>outlined_flag</mat-icon>
          <span i18n>Add challenge</span>
        </button>

        <!-- If the user has private challenges for this spot -->
        @if(true) {
        <button mat-stroked-button (click)="showAllChallenges()">
          <mat-icon>lock</mat-icon>
          <span i18n>See private challenges</span>
        </button>
        }
      </div>
    </div>
    } } } } @else {
    <!-- 
    /////////////////////////////////////////////////   
    EDITING MODE
    /////////////////////////////////////////////////   
    -->

    <!-- Spot title editing field -->
    <h4 class="mat-title-small" i18n>Spot Name</h4>
    <form class="mb-3">
      <app-locale-map-edit-field
        class="w-100"
        i18n-placeholder="
          spot name placeholder|Placeholder of the spot name in the edit form
        "
        placeholder="Spot name"
        [(localeMap)]="spotNameLocaleMap"
      >
      </app-locale-map-edit-field>
    </form>

    <div class="pb-2 pt-2">
      <h4 class="mat-title-small" i18n>Media</h4>
      <!-- Media preview grid -->
      @if(spot()!.userMedia() && spot()!.userMedia().length > 0) {
      <app-media-preview-grid
        [media]="spot()!.userMedia()"
        (mediaChanged)="mediaChanged($event)"
      ></app-media-preview-grid>
      }

      <!-- Image upload  -->
      <app-media-upload
        class="w-100"
        [allowedMimeTypes]="['image/jpg', 'image/jpeg', 'image/png']"
        [multipleAllowed]="true"
        [storageFolder]="mediaStorageFolder"
        (newMedia)="setNewMediaFromUpload($event)"
      >
      </app-media-upload>

      <!-- Hide Streetview -->

      <mat-slide-toggle
        i18n
        class="mb-4"
        [checked]="spot()!.hideStreetview"
        color="primary"
        (change)="setHideStreetviewFromToggle($event)"
        >Hide Streetview</mat-slide-toggle
      >
    </div>

    <!-- Slug selection -->
    <div class="pb-4">
      <h4 class="mat-title-small" i18n>Spot URL</h4>
      @if(allSpotSlugs.length > 0) {
      <mat-form-field class="w-100" appearance="outline">
        <mat-label i18n>Select preffered spot URL</mat-label>
        <mat-select [(value)]="spotSlug">
          @for(slug of allSpotSlugs; track $index) {
          <mat-option [value]="slug">{{ slug }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      }

      <button mat-stroked-button>
        <mat-icon>add</mat-icon>
        <span i18n>Add custom spot URL</span>
      </button>
    </div>

    <!-- Iconic -->
    <!-- <mat-slide-toggle
      i18n
      class="mb-4"
      [checked]="spot()!.isIconic"
      color="primary"
      (change)="setSpotIconicFromToggle($event)"
      >Iconic Spot</mat-slide-toggle
    > -->

    <!-- Description -->
    <h4
      class="mat-title-small"
      i18n="description header|The header for the spot description"
    >
      Description
    </h4>
    <app-locale-map-edit-field
      class="w-100"
      i18n-placeholder="
        Spot description edit field placeholder|Placeholder of the spot
        description edit field
      "
      [isTextArea]="true"
      placeholder="Description of the spot, its features and more..."
      [(localeMap)]="spotDescriptionLocaleMap"
    >
    </app-locale-map-edit-field>

    <!-- Bounds -->
    <div class="my-3 d-flex justify-start">
      @if(!isNewSpot && !hasBounds()) {
      <button
        mat-stroked-button
        (click)="addBoundsClicked()"
        i18n="
          Add bounds button label|Label of the button to add bounds to a spot
        "
      >
        Add bounds
      </button>
      }
    </div>

    <!-- Type and Area? -->
    <div class="mb-4">
      <h4 class="mat-title-small" i18n>Type and Area</h4>
      <div class="d-flex flex-column gap-4 align-items-stretch">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n>Spot Type</mat-label>
          <mat-select
            [value]="spot()!.type()"
            (valueChange)="spot()!.type.set($event)"
          >
            @for (spotType of spotTypes; track $index) {
            <mat-option [value]="spotType">{{
              spotTypeNames[spotType]
            }}</mat-option>
            }
          </mat-select>
          <mat-hint>{{ spotTypeDescriptions[spot()!.type()] }}</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n>Spot Access</mat-label>
          <mat-select
            [value]="spot()!.access()"
            (valueChange)="spot()!.access.set($event)"
          >
            @for (spotAccess of spotAccesses; track $index) {
            <mat-option [value]="spotAccess">{{
              spotAccessNames[spotAccess]
            }}</mat-option>
            }
          </mat-select>
          <mat-hint>{{ spotAccessDescriptions[spot()!.access()] }}</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <!-- Features and Amenities -->
    <div class="w-100 mb-4">
      <h4
        i18n="amenities header|The header for the spot features and amenities"
        class="mat-title-small"
      >
        Features and amenities
      </h4>

      <app-spot-amenity-toggle
        [positiveLabel]="AmenityNames['indoor']"
        [negativeLabel]="AmenityNegativeNames['indoor']"
        [positiveIcon]="AmenityIcons['indoor']"
        [negativeIcon]="AmenityNegativeIcons['indoor']"
        [value]="spot()!.amenities()['indoor']"
        (valueChange)="updateAmenityFromToggle('indoor', $event)"
      ></app-spot-amenity-toggle>
      <app-spot-amenity-toggle
        [positiveLabel]="AmenityNames['outdoor']"
        [negativeLabel]="AmenityNegativeNames['outdoor']"
        [positiveIcon]="AmenityIcons['outdoor']"
        [negativeIcon]="AmenityNegativeIcons['outdoor']"
        [value]="spot()!.amenities()['outdoor']"
        (valueChange)="updateAmenityFromToggle('outdoor', $event)"
      ></app-spot-amenity-toggle>

      @for(amenity of GeneralAmenities; track amenity) {
      <app-spot-amenity-toggle
        [positiveLabel]="AmenityNames[amenity]"
        [negativeLabel]="AmenityNegativeNames[amenity]"
        [positiveIcon]="AmenityIcons[amenity]"
        [negativeIcon]="AmenityNegativeIcons[amenity]"
        [value]="spot()!.amenities()[amenity]"
        (valueChange)="updateAmenityFromToggle(amenity, $event)"
      ></app-spot-amenity-toggle>
      } @if(spot()!.amenities().indoor === true) { @for(amenity of
      IndoorAmenities; track amenity) {
      <app-spot-amenity-toggle
        [positiveLabel]="AmenityNames[amenity]"
        [negativeLabel]="AmenityNegativeNames[amenity]"
        [positiveIcon]="AmenityIcons[amenity]"
        [negativeIcon]="AmenityNegativeIcons[amenity]"
        [value]="spot()!.amenities()[amenity]"
        (valueChange)="updateAmenityFromToggle(amenity, $event)"
      ></app-spot-amenity-toggle>
      } } @if(spot()!.amenities().outdoor === true) { @for(amenity of
      OutdoorAmenities; track amenity) {
      <app-spot-amenity-toggle
        [positiveLabel]="AmenityNames[amenity]"
        [negativeLabel]="AmenityNegativeNames[amenity]"
        [positiveIcon]="AmenityIcons[amenity]"
        [negativeIcon]="AmenityNegativeIcons[amenity]"
        [value]="spot()!.amenities()[amenity]"
        (valueChange)="updateAmenityFromToggle(amenity, $event)"
      ></app-spot-amenity-toggle>
      } }
    </div>

    }
  </mat-card-content>

  <!-- Saving actions -->
  @if(isEditing()) {
  <mat-card-actions class="mt-3 gap-2">
    @if(editable) {
    <button
      mat-stroked-button
      color="warn"
      (click)="discardButtonClick()"
      class="flex-grow-1 flex-basis-0"
      i18n="Discard changes button label|Label of the button to discard changes"
    >
      Discard changes
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="saveButtonClick()"
      class="flex-grow-1 flex-basis-0"
      i18n="Save changes button label|Label of the button to save changes"
    >
      Save changes
    </button>
    }
  </mat-card-actions>
  } }
</mat-card>
