<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PK Spot</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string
          >com.googleusercontent.apps.294969617102-u9u0rov6mtv79l51cu1cg8mrkf3hgjkp</string>
				<string
          >com.googleusercontent.apps.294969617102-8v45jb48g2osm3umqgaup5urcit7djd8</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string
    >PK Spot needs access to your camera to let you upload photos of spots.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>PK Spot needs access to save photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PK Spot needs access to your library to select spot photos.</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GIDClientID</key>
	<string
    >294969617102-u9u0rov6mtv79l51cu1cg8mrkf3hgjkp.apps.googleusercontent.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true />
	<key>NSLocationWhenInUseUsageDescription</key>
  <string
    >PK Spot needs your location to display your location, nearby spots and verify your active sessions.</string>
  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string
    >PK Spot uses your location to display your location, nearby spots and verify training sessions while you use the app.</string>
  <key>NSLocationAlwaysUsageDescription</key>
  <string>PK Spot needs your location to verify training sessions.</string>
  <key>ITSAppUsesNonExemptEncryption</key>
  <false />
  <key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true />
</dict>
</plist>
